In [1]:
import numpy as np
import pandas as pd

### Create student-to-lottery number and lottery number-to-student indices

In [2]:
student_rankings = np.load('Data/Generated/student_rankings.npy', allow_pickle=True).item()
school_rankings = np.load('Data/Generated/school_rankings.npy', allow_pickle=True).item()
student_demographics = np.load('Data/Generated/student_demographics.npy', allow_pickle=True)

In [3]:
id_index = 0
lottery_index = 17
to_lottery_numbers = {}
from_lottery_numbers = {}

for student in student_demographics:
	to_lottery_numbers[student[id_index]] = student[lottery_index]
	from_lottery_numbers[student[lottery_index]] = student[id_index]

np.save('Data/Generated/student_to_lottery_nums.npy', to_lottery_numbers)
np.save('Data/Generated/lottery_nums_to_student.npy', from_lottery_numbers)

### Create student id-based rankings

In [4]:
school_rankings_id = {
	school: [from_lottery_numbers[student] for student in ranking] for school, ranking in school_rankings.items()
}

In [5]:
np.save('Data/Generated/school_rankings_id.npy', school_rankings_id)

### Get school capacity

In [6]:
df = pd.read_excel('Data/school_directory.xlsx', sheet_name='Data')

cols = ['dbn', 'school_name'] + ['seats9' + student_type + str(i) for student_type in ['ge', 'swd'] for i in range(1, 13)]
df_selected = df[cols]

In [7]:
df_selected['overall_seats'] = df_selected.iloc[:, -25:-1].sum(axis=1)
df_selected = df_selected[df_selected['overall_seats'] != 0]
df_selected = df_selected[['dbn', 'overall_seats']]
df_selected

C:\Users\Tommaso\AppData\Local\Temp\ipykernel_21164\875658289.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_selected['overall_seats'] = df_selected.iloc[:, -25:-1].sum(axis=1)
C:\Users\Tommaso\AppData\Local\Temp\ipykernel_21164\875658289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['overall_seats'] = df_selected.iloc[:, -25:-1].sum(axis=1)

        dbn  overall_seats
0    01M292           90.0
1    01M448          105.0
2    01M450           95.0
3    01M458           28.0
4    01M515           60.0
..      ...            ...
441  32K545          126.0
442  32K549          115.0
443  32K552          113.0
444  32K554           62.0
445  32K556          100.0

[433 rows x 2 columns]

In [8]:
school_codes = df_selected['dbn'].values
schools = list(school_rankings.keys())
not_in_df = [school for school in schools if school not in school_codes]
new_rows = pd.DataFrame({'dbn': not_in_df})
new_rows

      dbn
0  13K963
1  15K960
2  08X636
3  28Q686
4  10X228

In [9]:
df_selected = pd.concat((df_selected, new_rows))
df_selected

       dbn  overall_seats
0   01M292           90.0
1   01M448          105.0
2   01M450           95.0
3   01M458           28.0
4   01M515           60.0
..     ...            ...
0   13K963            NaN
1   15K960            NaN
2   08X636            NaN
3   28Q686            NaN
4   10X228            NaN

[438 rows x 2 columns]

In [10]:
seat_distribution = df_selected['overall_seats'].replace(0, np.nan, inplace=False)
low, hi = seat_distribution.min(), seat_distribution.max()
mean = seat_distribution.mean()
stdev = seat_distribution.std()
missing = seat_distribution.value_counts(dropna=False)
print(f'Range: [{int(low)}, {int(hi)}]')
print(f'Distribution: {mean:.2f} +/- {stdev:.2f}')
print(f'Missing: {missing[np.nan]}')

Range: [10, 1060]
Distribution: 149.76 +/- 127.85
Missing: 5

In [11]:
df_selected['overall_seats'].replace(np.nan, int(mean), inplace=True)
df_selected

       dbn  overall_seats
0   01M292           90.0
1   01M448          105.0
2   01M450           95.0
3   01M458           28.0
4   01M515           60.0
..     ...            ...
0   13K963          149.0
1   15K960          149.0
2   08X636          149.0
3   28Q686          149.0
4   10X228          149.0

[438 rows x 2 columns]

In [12]:
to_export = {}

for i in range(0, df_selected.size // 2):
	item = df_selected.iloc[i]
	to_export[item['dbn']] = int(item['overall_seats'])

np.save('Data/Generated/school_capacities.npy', to_export)

In [13]:
np.load('Data/Generated/school_capacities.npy', allow_pickle=True).item()

{'01M292': 90,
 '01M448': 105,
 '01M450': 95,
 '01M458': 28,
 '01M515': 60,
 '01M539': 150,
 '01M696': 125,
 '02M047': 69,
 '02M135': 115,
 '02M139': 108,
 '02M260': 114,
 '02M280': 112,
 '02M282': 125,
 '02M288': 108,
 '02M294': 81,
 '02M296': 129,
 '02M298': 160,
 '02M300': 108,
 '02M303': 107,
 '02M305': 100,
 '02M308': 95,
 '02M313': 25,
 '02M316': 120,
 '02M374': 204,
 '02M376': 118,
 '02M392': 108,
 '02M393': 129,
 '02M394': 60,
 '02M399': 134,
 '02M400': 300,
 '02M407': 61,
 '02M408': 124,
 '02M411': 120,
 '02M412': 91,
 '02M413': 108,
 '02M414': 124,
 '02M416': 125,
 '02M418': 160,
 '02M419': 100,
 '02M420': 442,
 '02M422': 108,
 '02M425': 276,
 '02M427': 108,
 '02M432': 90,
 '02M437': 118,
 '02M438': 68,
 '02M439': 100,
 '02M449': 110,
 '02M459': 85,
 '02M489': 200,
 '02M500': 95,
 '02M507': 108,
 '02M519': 176,
 '02M520': 240,
 '02M529': 200,
 '02M531': 60,
 '02M533': 109,
 '02M534': 113,
 '02M542': 135,
 '02M543': 125,
 '02M544': 30,
 '02M545': 108,
 '02M546': 120,
 '02M550': 50,
 '02M551': 140,
 '02M560': 25,
 '02M580': 160,
 '02M586': 45,
 '02M600': 474,
 '02M605': 55,
 '02M615': 119,
 '02M630': 385,
 '02M655': 152,
 '03M291': 90,
 '03M299': 120,
 '03M307': 112,
 '03M402': 108,
 '03M403': 108,
 '03M415': 128,
 '03M417': 108,
 '03M479': 360,
 '03M492': 140,
 '03M494': 140,
 '03M541': 108,
 '03M859': 50,
 '03M860': 95,
 '04M372': 68,
 '04M435': 403,
 '04M495': 100,
 '04M555': 115,
 '04M610': 81,
 '04M680': 80,
 '05M148': 100,
 '05M157': 81,
 '05M304': 108,
 '05M362': 112,
 '05M369': 108,
 '05M499': 320,
 '05M670': 108,
 '06M211': 81,
 '06M293': 81,
 '06M346': 75,
 '06M348': 115,
 '06M423': 60,
 '06M462': 115,
 '06M463': 150,
 '06M467': 164,
 '06M468': 259,
 '06M540': 461,
 '06M552': 170,
 '07X221': 91,
 '07X223': 84,
 '07X259': 243,
 '07X334': 81,
 '07X427': 81,
 '07X473': 81,
 '07X495': 130,
 '07X500': 81,
 '07X522': 140,
 '07X527': 95,
 '07X548': 125,
 '07X551': 81,
 '07X600': 152,
 '07X625': 68,
 '07X670': 75,
 '08X269': 81,
 '08X282': 108,
 '08X293': 103,
 '08X312': 71,
 '08X320': 108,
 '08X348': 108,
 '08X349': 108,
 '08X367': 96,
 '08X376': 81,
 '08X405': 327,
 '08X432': 81,
 '08X452': 108,
 '08X530': 100,
 '08X537': 10,
 '08X558': 135,
 '08X561': 120,
 '09X227': 95,
 '09X231': 65,
 '09X241': 73,
 '09X250': 108,
 '09X252': 87,
 '09X260': 108,
 '09X263': 90,
 '09X297': 123,
 '09X324': 81,
 '09X327': 90,
 '09X329': 108,
 '09X350': 25,
 '09X365': 92,
 '09X403': 108,
 '09X404': 108,
 '09X412': 133,
 '09X413': 81,
 '09X505': 104,
 '09X517': 108,
 '09X525': 136,
 '09X543': 108,
 '09X564': 81,
 '09X568': 81,
 '10X141': 181,
 '10X213': 136,
 '10X225': 170,
 '10X237': 135,
 '10X243': 90,
 '10X264': 108,
 '10X268': 108,
 '10X284': 130,
 '10X342': 81,
 '10X351': 150,
 '10X353': 158,
 '10X368': 140,
 '10X374': 108,
 '10X433': 96,
 '10X434': 108,
 '10X437': 108,
 '10X438': 108,
 '10X439': 108,
 '10X440': 384,
 '10X442': 140,
 '10X477': 108,
 '10X524': 81,
 '10X546': 128,
 '10X549': 108,
 '10X565': 108,
 '11X249': 108,
 '11X253': 108,
 '11X265': 122,
 '11X270': 81,
 '11X275': 180,
 '11X288': 120,
 '11X290': 108,
 '11X299': 118,
 '11X418': 96,
 '11X455': 750,
 '11X508': 91,
 '11X509': 108,
 '11X513': 108,
 '11X514': 108,
 '11X542': 118,
 '11X544': 128,
 '11X545': 189,
 '12X242': 81,
 '12X248': 144,
 '12X251': 117,
 '12X267': 81,
 '12X271': 81,
 '12X388': 108,
 '12X446': 50,
 '12X478': 81,
 '12X479': 81,
 '12X511': 108,
 '12X521': 120,
 '12X550': 108,
 '12X682': 110,
 '12X684': 150,
 '13K265': 80,
 '13K350': 108,
 '13K412': 134,
 '13K419': 258,
 '13K439': 81,
 '13K483': 115,
 '13K527': 81,
 '13K553': 22,
 '13K594': 81,
 '13K595': 81,
 '13K605': 252,
 '13K616': 60,
 '13K670': 180,
 '13K674': 108,
 '14K071': 84,
 '14K454': 116,
 '14K474': 153,
 '14K477': 234,
 '14K478': 249,
 '14K488': 153,
 '14K558': 155,
 '14K561': 165,
 '14K586': 81,
 '14K610': 204,
 '14K614': 93,
 '14K685': 70,
 '15K423': 65,
 '15K429': 90,
 '15K448': 90,
 '15K462': 125,
 '15K463': 125,
 '15K464': 102,
 '15K497': 100,
 '15K519': 218,
 '15K592': 81,
 '15K656': 254,
 '15K667': 354,
 '15K684': 163,
 '16K455': 215,
 '16K498': 151,
 '16K688': 108,
 '16K765': 108,
 '17K122': 108,
 '17K382': 81,
 '17K408': 108,
 '17K524': 108,
 '17K528': 100,
 '17K531': 116,
 '17K537': 140,
 '17K539': 108,
 '17K543': 130,
 '17K546': 130,
 '17K547': 108,
 '17K548': 108,
 '17K590': 220,
 '17K600': 419,
 '17K646': 40,
 '17K745': 150,
 '17K751': 108,
 '18K563': 162,
 '18K566': 75,
 '18K567': 120,
 '18K569': 81,
 '18K576': 140,
 '18K617': 81,
 '18K629': 108,
 '18K633': 108,
 '18K635': 15,
 '18K637': 120,
 '18K642': 106,
 '19K404': 92,
 '19K409': 120,
 '19K422': 71,
 '19K502': 108,
 '19K504': 108,
 '19K507': 125,
 '19K510': 68,
 '19K583': 111,
 '19K615': 315,
 '19K618': 108,
 '19K639': 102,
 '19K659': 99,
 '19K660': 305,
 '19K683': 108,
 '19K764': 81,
 '19K953': 68,
 '20K445': 347,
 '20K485': 298,
 '20K490': 234,
 '20K505': 423,
 '20K609': 81,
 '21K337': 90,
 '21K344': 144,
 '21K348': 176,
 '21K410': 630,
 '21K468': 110,
 '21K525': 932,
 '21K540': 573,
 '21K559': 81,
 '21K572': 90,
 '21K620': 298,
 '21K690': 100,
 '21K728': 30,
 '22K405': 1060,
 '22K425': 250,
 '22K535': 254,
 '22K555': 160,
 '22K611': 108,
 '22K630': 30,
 '23K493': 120,
 '23K514': 108,
 '23K643': 30,
 '23K644': 92,
 '23K647': 30,
 '23K697': 79,
 '24Q236': 81,
 '24Q264': 124,
 '24Q267': 108,
 '24Q293': 142,
 '24Q296': 108,
 '24Q299': 155,
 '24Q455': 246,
 '24Q485': 243,
 '24Q520': 97,
 '24Q530': 119,
 '24Q550': 191,
 '24Q560': 120,
 '24Q585': 270,
 '24Q600': 350,
 '24Q610': 516,
 '25Q240': 130,
 '25Q241': 108,
 '25Q252': 83,
 '25Q263': 90,
 '25Q281': 83,
 '25Q285': 81,
 '25Q425': 783,
 '25Q460': 353,
 '25Q525': 290,
 '25Q540': 20,
 '25Q670': 150,
 '25Q792': 15,
 '26Q315': 108,
 '26Q415': 508,
 '26Q430': 301,
 '26Q435': 268,
 '26Q495': 666,
 '26Q566': 235,
 '27Q260': 108,
 '27Q262': 157,
 '27Q302': 108,
 '27Q308': 140,
 '27Q309': 105,
 '27Q314': 95,
 '27Q323': 154,
 '27Q324': 108,
 '27Q334': 70,
 '27Q351': 135,
 '27Q400': 250,
 '27Q475': 210,
 '27Q480': 506,
 '27Q650': 246,
 '28Q167': 119,
 '28Q284': 81,
 '28Q310': 94,
 '28Q325': 108,
 '28Q328': 108,
 '28Q350': 108,
 '28Q440': 460,
 '28Q505': 536,
 '28Q620': 471,
 '28Q680': 108,
 '28Q690': 165,
 '28Q896': 81,
 '29Q243': 108,
 '29Q248': 108,
 '29Q259': 102,
 '29Q265': 108,
 '29Q272': 129,
 '29Q283': 106,
 '29Q313': 108,
 '29Q326': 81,
 '29Q327': 75,
 '29Q492': 150,
 '29Q498': 196,
 '30Q258': 105,
 '30Q286': 81,
 '30Q301': 123,
 '30Q417': 100,
 '30Q445': 300,
 '30Q450': 720,
 '30Q501': 212,
 '30Q502': 219,
 '30Q555': 81,
 '30Q575': 170,
 '30Q580': 102,
 '31R028': 81,
 '31R047': 118,
 '31R064': 146,
 '31R080': 127,
 '31R440': 526,
 '31R445': 429,
 '31R450': 689,
 '31R455': 580,
 '31R460': 386,
 '31R600': 92,
 '32K168': 108,
 '32K403': 108,
 '32K545': 126,
 '32K549': 115,
 '32K552': 113,
 '32K554': 62,
 '32K556': 100,
 '13K963': 149,
 '15K960': 149,
 '08X636': 149,
 '28Q686': 149,
 '10X228': 149}