# Main Document to Load and Traverse Data

> Expected Data: school admissions preferences, number of students admitted per attribute category, etc.

In [36]:
import pandas as pd
import numpy as np
import os

from tqdm import tqdm

cwd = os.getcwd()
testing = True  # ******

## Schema:
Nutrition Label:
- School Label:
  - Name
  - ID
  - AP courses offered
  - Location
  - Subject Specialization
  - Accomodations
  - Admission Preferences
   - gpa cutoff
   - zone
   - subject specification


- Student Label:
  - Name
  - Location
  - Zone
  - School ID
  - Subject preference
  - AP course preferences

## Task 1: Load student demographics and preferences and join

In [37]:
student_df = pd.read_csv(cwd + "/Data/student_info_with_demographics.csv")
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,0,0,0,0,30Q127,2.000000,3.125000
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,0,0,0,0,27Q137,2.153846,2.750000
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,0,0,0,0,24Q061,2.846154,1.753425
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,1,0,0,0,02M114,4.275862,4.181818
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,1,0,0,0,02M312,4.017241,3.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,0,0,0,0,01M450,2.000000,1.972603
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,0,1,0,0,01M184,3.000000,3.125000
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,0,0,0,0,01M539,2.615385,4.030303
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,0,1,0,0,01M188,3.083333,2.000000
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,0,0,0,0,01M839,2.692308,2.312500

In [38]:
ranking_df = pd.read_csv(cwd + "/Data/student_prefs.csv")
ranking_df

           Student_Id  School  Rank    Rating
0       student_68963  02M411     0  1.000000
1       student_68963  02M376     1  0.500000
2       student_68963  02M316     2  0.333333
3       student_68963  02M438     3  0.250000
4       student_68963  01M448     4  0.200000
...               ...     ...   ...       ...
492363  student_36332  02M414     2  0.333333
492364  student_36332  20K490     3  0.250000
492365  student_36332  18K637     4  0.200000
492366  student_36332  28Q686     5  0.166667
492367  student_36332  24Q585     6  0.142857

[492368 rows x 4 columns]

In [64]:
student_ids = list(ranking_df["Student_Id"].unique())  # get student ids
if testing:  # subset of data for testing
    student_ids = student_ids[:200]

unknown_val = "nan"  # placeholder for no rankings
num_student_ranks = 12  # maximum number of rankings a student can have
student_rankings = dict([ [sid, [unknown_val for i in range(num_student_ranks)]] for sid in student_ids])  # initializing dict

cleaner = {}  # keeps track of the maximum ranking of a given student for the cleaning step
for i, row in tqdm(ranking_df.iterrows()):  # Note: this is slower for testing purposes but faster for total runtime
    if not testing or row["Student_Id"] in student_ids:
        student_rankings[row["Student_Id"]][int(row["Rank"])] = row["School"]
        if row["Student_Id"] not in cleaner or cleaner[row["Student_Id"]] < row["Rank"]:
            cleaner[row["Student_Id"]] = row["Rank"]  #

# optional cleaning step
if testing:
    print("Cleaning...")
for sid, rank in tqdm(cleaner.items()):  # more efficient than remove()
    if rank < num_student_ranks:
        student_rankings[sid] = student_rankings[sid][:rank+1]  # +1 due to exclusivity of slicing

print("\nExample Student Ranking\n", student_rankings[np.random.choice(student_ids)])

492368it [00:19, 25310.59it/s]

Cleaning...

100%|██████████████████████████████████████████| 200/200 [00:00<00:00, 293718.77it/s]

Example Student Ranking
 ['01M539', '19K615', '02M392', '04M435', '02M376', '02M420', '27Q650', '01M448', '02M534', '02M280']

In [65]:
# saving student rankings
np.save(cwd+"/Data/student_rankings.npy", student_rankings)
print("saved at", "/Data/student_rankings.npy")

saved at /Data/student_rankings.npy

## Task 2: Aggregate School Codes & Generate Random Rankings

In [66]:
school_ids = list(ranking_df["School"].unique())
school_rankings = {}
for sid in tqdm(school_ids):
    np.random.shuffle(student_ids)  # randomize id's
    school_rankings[sid] = student_ids
    
print("Example School Ranking\n", school_rankings[np.random.choice(school_ids)])

100%|██████████████████████████████████████████| 437/437 [00:00<00:00, 146891.40it/s]

Example School Ranking
 ['student_6930', 'student_27003', 'student_17797', 'student_57098', 'student_54954', 'student_13711', 'student_57833', 'student_7251', 'student_66127', 'student_525', 'student_25731', 'student_13276', 'student_17979', 'student_2150', 'student_22183', 'student_13953', 'student_18732', 'student_9202', 'student_68061', 'student_63968', 'student_68341', 'student_63305', 'student_57258', 'student_59316', 'student_61667', 'student_56082', 'student_2749', 'student_18959', 'student_11209', 'student_53018', 'student_54391', 'student_48908', 'student_63496', 'student_59105', 'student_10269', 'student_18478', 'student_67953', 'student_18662', 'student_27998', 'student_8419', 'student_63688', 'student_59638', 'student_63062', 'student_69862', 'student_25238', 'student_44980', 'student_8083', 'student_58911', 'student_361', 'student_49587', 'student_21813', 'student_46593', 'student_49899', 'student_27599', 'student_45931', 'student_25125', 'student_26190', 'student_31089', 'student_38112', 'student_45928', 'student_60114', 'student_33422', 'student_4181', 'student_39765', 'student_43557', 'student_47663', 'student_11550', 'student_51501', 'student_30238', 'student_26311', 'student_17299', 'student_55659', 'student_60964', 'student_32415', 'student_39830', 'student_51176', 'student_17640', 'student_3391', 'student_37786', 'student_54725', 'student_2171', 'student_52540', 'student_44335', 'student_22012', 'student_55562', 'student_62704', 'student_61592', 'student_1560', 'student_66897', 'student_56365', 'student_66707', 'student_5239', 'student_21897', 'student_54004', 'student_27971', 'student_13290', 'student_47284', 'student_22619', 'student_46218', 'student_8017', 'student_37571', 'student_41929', 'student_14320', 'student_11076', 'student_65842', 'student_60263', 'student_57816', 'student_24995', 'student_16176', 'student_47092', 'student_40729', 'student_28645', 'student_383', 'student_15686', 'student_12005', 'student_3460', 'student_23864', 'student_26666', 'student_60505', 'student_60252', 'student_58285', 'student_14351', 'student_63540', 'student_63350', 'student_26036', 'student_6382', 'student_61723', 'student_41968', 'student_47272', 'student_38733', 'student_66008', 'student_33381', 'student_71032', 'student_3908', 'student_35343', 'student_40807', 'student_68963', 'student_1143', 'student_70898', 'student_37100', 'student_24583', 'student_39553', 'student_12469', 'student_12584', 'student_16747', 'student_12220', 'student_2858', 'student_70433', 'student_71165', 'student_37362', 'student_25011', 'student_40115', 'student_21657', 'student_65520', 'student_44930', 'student_812', 'student_16775', 'student_3302', 'student_1611', 'student_21387', 'student_66654', 'student_30857', 'student_14481', 'student_41778', 'student_43819', 'student_32259', 'student_33046', 'student_64471', 'student_56592', 'student_10714', 'student_46142', 'student_27272', 'student_37710', 'student_67289', 'student_8242', 'student_61161', 'student_45124', 'student_51818', 'student_22462', 'student_16940', 'student_42982', 'student_55971', 'student_62665', 'student_27993', 'student_10905', 'student_33068', 'student_43094', 'student_50587', 'student_41643', 'student_52488', 'student_60711', 'student_23944', 'student_27806', 'student_37622', 'student_21226', 'student_28177', 'student_2835', 'student_10194', 'student_58269', 'student_17606']

In [67]:
# saving school rankings
np.save(cwd+"/Data/school_rankings.npy", school_rankings)
print("saved at", "/Data/school_rankings.npy")

saved at /Data/school_rankings.npy

### Subtask 2.1: Export

#### INTENDED OUTPUT
student_rankings = {student_id : [school_ids_ranked]}

school_rankings = {school ids : [student_ids_ranked]}

In [ ]:
print(len(student_rankings))