# Main Document to Load and Traverse Data

> Expected Data: school admissions preferences, number of students admitted per attribute category, etc.

In [15]:
import pandas as pd
import numpy as np
import os

cwd = os.getcwd()
testing = True

## Schema:
Nutrition Label:
- School Label:
  - Name
  - ID
  - AP courses offered
  - Location
  - Subject Specialization
  - Accomodations
  - Admission Preferences
   - gpa cutoff
   - zone
   - subject specification


- Student Label:
  - Name
  - Location
  - Zone
  - School ID
  - Subject preference
  - AP course preferences

## Task 1: Load student demographics and preferences and join

In [6]:
student_df = pd.read_csv(cwd + "/Data/student_info_with_demographics.csv")
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,0,0,0,0,30Q127,2.000000,3.125000
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,0,0,0,0,27Q137,2.153846,2.750000
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,0,0,0,0,24Q061,2.846154,1.753425
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,1,0,0,0,02M114,4.275862,4.181818
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,1,0,0,0,02M312,4.017241,3.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,0,0,0,0,01M450,2.000000,1.972603
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,0,1,0,0,01M184,3.000000,3.125000
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,0,0,0,0,01M539,2.615385,4.030303
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,0,1,0,0,01M188,3.083333,2.000000
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,0,0,0,0,01M839,2.692308,2.312500

In [8]:
ranking_df = pd.read_csv(cwd + "/Data/student_prefs.csv")
ranking_df

           Student_Id  School  Rank    Rating
0       student_68963  02M411     0  1.000000
1       student_68963  02M376     1  0.500000
2       student_68963  02M316     2  0.333333
3       student_68963  02M438     3  0.250000
4       student_68963  01M448     4  0.200000
...               ...     ...   ...       ...
492363  student_36332  02M414     2  0.333333
492364  student_36332  20K490     3  0.250000
492365  student_36332  18K637     4  0.200000
492366  student_36332  28Q686     5  0.166667
492367  student_36332  24Q585     6  0.142857

[492368 rows x 4 columns]

In [16]:
student_ids = list(student_df["Student_Id"].unique())
if testing:  # subset of data for testing
    student_ids = student_ids[:100]

student_rankings = {}
for sid in student_ids:
    temp = ranking_df[ranking_df["Student_Id"]==sid]
    temp.sort_values("Rank", inplace=True, ascending=True)
    student_rankings[sid] = list(temp["School"])

student_rankings

/var/folders/mv/k0krwyts3z5cfn3y2tltw0sc0000gn/T/ipykernel_19089/4210586680.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.sort_values("Rank", inplace=True, ascending=True)

{'student_36332': ['22K405',
  '28Q440',
  '02M414',
  '20K490',
  '18K637',
  '28Q686',
  '24Q585'],
 'student_36144': ['20K490',
  '22K405',
  '03M479',
  '01M539',
  '24Q585',
  '26Q495',
  '02M412',
  '02M529',
  '02M519',
  '24Q610',
  '03M417'],
 'student_37038': ['15K497', '02M416', '02M418', '17K122', '30Q575', '22K535'],
 'student_614': ['27Q475', '21K525', '07X670', '02M418', '15K656', '02M630'],
 'student_21981': ['24Q600',
  '24Q550',
  '03M479',
  '13K419',
  '29Q272',
  '02M533',
  '02M413',
  '02M260'],
 'student_59890': ['20K485',
  '02M439',
  '03M541',
  '26Q430',
  '30Q286',
  '02M529',
  '02M414',
  '32K554',
  '28Q620'],
 'student_50244': ['22K425',
  '20K505',
  '22K405',
  '02M414',
  '02M316',
  '13K670',
  '02M411'],
 'student_57724': ['02M260',
  '28Q328',
  '24Q610',
  '21K525',
  '02M413',
  '02M500',
  '02M418',
  '02M408',
  '06M467',
  '21K348'],
 'student_12142': ['02M400', '11X544', '02M416', '02M413', '24Q550'],
 'student_38624': ['27Q650',
  '04M435',
  '31R047',
  '28Q284',
  '02M294',
  '21K525',
  '31R455'],
 'student_49273': ['01M539', '02M376', '04M435', '03M291', '03M402', '02M438'],
 'student_49458': ['04M555', '03M541', '27Q308', '20K485', '24Q610', '02M439'],
 'student_6016': ['25Q525', '28Q686', '21K525', '26Q495', '31R440'],
 'student_66134': ['31R460', '15K684', '15K497', '22K555', '03M479', '31R445'],
 'student_63930': ['02M519',
  '02M412',
  '02M400',
  '28Q620',
  '20K445',
  '01M448',
  '30Q501',
  '13K483'],
 'student_15892': ['28Q284',
  '02M418',
  '05M362',
  '15K497',
  '26Q495',
  '28Q620',
  '03M541'],
 'student_21068': ['15K684',
  '24Q299',
  '24Q610',
  '17K548',
  '03M402',
  '02M416',
  '25Q525',
  '01M450',
  '22K405',
  '06M467'],
 'student_13759': ['27Q308', '24Q600', '02M439', '02M416', '24Q293', '05M362'],
 'student_15774': ['31R047',
  '02M408',
  '15K656',
  '21K525',
  '22K425',
  '27Q400',
  '03M479',
  '30Q580'],
 'student_51521': ['03M541',
  '05M670',
  '13K265',
  '15K684',
  '10X264',
  '06M293',
  '02M400',
  '02M411'],
 'student_45464': ['02M260',
  '02M414',
  '03M417',
  '28Q167',
  '24Q610',
  '25Q525',
  '20K505'],
 'student_17829': ['02M630',
  '31R455',
  '13K674',
  '26Q566',
  '15K684',
  '24Q585',
  '21K525'],
 'student_30992': ['03M541',
  '15K667',
  '20K490',
  '22K555',
  '02M416',
  '21K525',
  '16K688',
  '02M418',
  '31R450'],
 'student_36530': ['02M400', '02M533', '25Q525'],
 'student_24698': ['15K667', '21K525', '11X275', '02M305'],
 'student_38823': ['17K528', '04M555', '22K425', '03M479', '01M292', '02M376'],
 'student_61160': ['05M499',
  '15K463',
  '02M416',
  '22K425',
  '24Q585',
  '22K405',
  '03M291'],
 'student_48390': ['02M439', '27Q650', '21K525', '26Q415', '17K531', '02M416'],
 'student_13941': ['02M376',
  '22K405',
  '02M412',
  '15K684',
  '15K656',
  '04M610',
  '02M407'],
 'student_12071': ['02M260', '15K592', '02M413', '18K637', '30Q501', '15K497'],
 'student_42679': ['02M414',
  '02M546',
  '24Q600',
  '31R460',
  '03M479',
  '07X548',
  '02M412',
  '27Q308'],
 'student_30013': ['21K410', '26Q430', '24Q585', '02M411', '27Q309', '24Q299'],
 'student_50048': ['21K525', '24Q299', '15K448', '30Q450', '02M418'],
 'student_40852': ['28Q167',
  '31R460',
  '14K071',
  '31R440',
  '01M696',
  '02M412',
  '03M494',
  '02M294',
  '02M439',
  '03M479'],
 'student_36335': ['02M416',
  '02M630',
  '15K684',
  '27Q400',
  '02M294',
  '20K505',
  '02M413',
  '28Q440'],
 'student_45987': ['02M412', '04M435', '15K497', '01M450', '15K463'],
 'student_21604': ['18K629',
  '15K684',
  '02M416',
  '20K485',
  '03M479',
  '24Q299',
  '05M670',
  '24Q600',
  '01M696'],
 'student_51526': ['26Q430',
  '28Q686',
  '02M416',
  '21K468',
  '03M541',
  '20K490',
  '31R047',
  '02M411'],
 'student_34365': ['02M630',
  '01M696',
  '02M412',
  '28Q440',
  '02M376',
  '02M316',
  '27Q650'],
 'student_12076': ['02M449',
  '29Q272',
  '02M418',
  '24Q299',
  '02M412',
  '20K485',
  '02M260',
  '24Q600'],
 'student_48739': ['26Q430', '25Q240', '02M418', '01M539', '10X437'],
 'student_71117': ['03M492',
  '22K611',
  '30Q501',
  '24Q264',
  '02M303',
  '02M529',
  '02M546',
  '02M416',
  '03M541'],
 'student_46631': ['07X600', '02M432', '22K535', '24Q264'],
 'student_63712': ['02M376', '02M392', '03M541', '22K405', '02M543', '20K490'],
 'student_70791': ['20K485',
  '24Q550',
  '15K684',
  '26Q430',
  '02M418',
  '03M541',
  '02M411',
  '01M539'],
 'student_3659': ['20K490',
  '20K505',
  '02M418',
  '02M411',
  '31R047',
  '08X269',
  '03M417',
  '24Q610'],
 'student_22653': ['27Q334',
  '20K490',
  '01M696',
  '03M479',
  '15K684',
  '02M260',
  '02M412'],
 'student_12495': ['15K519',
  '02M416',
  '02M414',
  '20K505',
  '02M408',
  '14K610',
  '22K405'],
 'student_49544': ['02M418',
  '02M408',
  '07X625',
  '20K505',
  '15K684',
  '20K490',
  '19K618'],
 'student_8429': ['03M479', '02M260', '31R455', '02M413', '01M539'],
 'student_15374': ['02M418', '02M411', '02M376', '20K445', '05M362', '15K667'],
 'student_60119': ['03M479',
  '25Q525',
  '02M416',
  '02M507',
  '02M412',
  '24Q610',
  '30Q580'],
 'student_45536': ['29Q498', '07X600', '02M303', '02M418'],
 'student_24870': ['20K490',
  '02M546',
  '02M416',
  '24Q585',
  '09X505',
  '02M400',
  '26Q430'],
 'student_32407': ['03M541',
  '22K405',
  '02M416',
  '15K656',
  '24Q610',
  '24Q299',
  '28Q440',
  '30Q301'],
 'student_56289': ['05M362',
  '25Q425',
  '15K462',
  '03M541',
  '21K525',
  '02M294',
  '30Q580',
  '25Q525',
  '22K405'],
 'student_39403': ['01M539', '15K684', '01M448', '24Q299', '17K600'],
 'student_68413': ['11X542', '32K554', '02M282', '22K425', '02M412'],
 'student_24255': ['01M696',
  '02M411',
  '26Q415',
  '25Q285',
  '27Q334',
  '03M479',
  '18K563',
  '02M282'],
 'student_9787': ['01M696',
  '02M439',
  '03M479',
  '17K122',
  '22K535',
  '29Q326',
  '22K425'],
 'student_52363': ['02M418',
  '02M294',
  '17K600',
  '04M435',
  '25Q525',
  '22K535',
  '03M479',
  '05M362'],
 'student_33715': ['02M407', '03M479', '24Q585', '18K637', '01M539'],
 'student_17720': ['22K425', '30Q501', '15K464', '20K485', '28Q686', '02M418'],
 'student_64284': ['10X374', '03M541', '01M539', '02M414', '05M362', '24Q299'],
 'student_66467': ['02M260',
  '24Q299',
  '02M416',
  '02M400',
  '31R047',
  '20K485',
  '28Q325',
  '28Q620'],
 'student_66023': ['30Q501',
  '22K405',
  '03M541',
  '31R440',
  '02M288',
  '02M294',
  '15K497'],
 'student_61568': ['28Q686',
  '02M418',
  '30Q501',
  '25Q525',
  '21K525',
  '02M294',
  '13K595',
  '15K960',
  '02M412'],
 'student_18917': ['01M539',
  '02M533',
  '03M479',
  '01M450',
  '25Q460',
  '22K425',
  '02M418',
  '28Q686',
  '26Q430'],
 'student_12856': ['03M417',
  '05M362',
  '15K656',
  '15K429',
  '27Q308',
  '02M529',
  '22K425',
  '31R445',
  '29Q326'],
 'student_16341': ['02M416', '20K490', '25Q525', '15K463', '02M260', '02M282'],
 'student_55892': ['28Q620',
  '15K448',
  '02M418',
  '02M294',
  '29Q492',
  '02M414',
  '02M260'],
 'student_28887': ['31R047', '32K168', '25Q525', '21K525', '18K566', '02M630'],
 'student_37716': ['22K405',
  '02M414',
  '10X438',
  '29Q498',
  '03M479',
  '01M539',
  '02M630',
  '05M362'],
 'student_56414': ['24Q267', '22K405', '28Q620', '02M418', '25Q525'],
 'student_24992': ['19K618', '32K554', '04M555', '20K490', '17K745'],
 'student_56483': ['01M539',
  '31R047',
  '01M696',
  '21K348',
  '31R450',
  '15K667',
  '26Q415',
  '22K535',
  '03M479',
  '28Q620'],
 'student_16687': ['15K656', '15K684', '01M539', '02M260', '02M418', '28Q167'],
 'student_20740': ['03M479', '15K497', '04M435', '02M416', '02M439', '24Q267'],
 'student_42398': ['27Q323',
  '02M411',
  '02M414',
  '19K504',
  '30Q501',
  '02M439',
  '02M459',
  '02M416',
  '19K618',
  '02M420'],
 'student_41331': ['03M291',
  '22K405',
  '30Q501',
  '02M376',
  '04M435',
  '11X265',
  '20K445'],
 'student_11663': ['24Q600',
  '02M520',
  '02M260',
  '30Q501',
  '26Q495',
  '21K525',
  '15K497'],
 'student_44506': ['03M291',
  '24Q585',
  '11X249',
  '28Q440',
  '02M416',
  '02M260',
  '26Q430'],
 'student_40765': ['02M630',
  '32K554',
  '02M294',
  '03M479',
  '22K425',
  '18K637',
  '19K409',
  '29Q248'],
 'student_11832': ['03M541', '02M047', '20K490', '17K382'],
 'student_8369': ['02M408', '01M539', '02M393', '09X517'],
 'student_43279': ['07X495', '31R064', '02M400', '30Q575', '02M439', '31R460'],
 'student_7088': ['02M543',
  '01M539',
  '28Q440',
  '22K405',
  '03M479',
  '24Q299',
  '05M362',
  '15K497'],
 'student_44308': ['32K554',
  '01M539',
  '26Q430',
  '05M362',
  '01M696',
  '02M418',
  '02M407',
  '02M533'],
 'student_37914': ['29Q259', '31R455', '02M416', '21K348', '02M411', '02M546'],
 'student_62655': ['24Q585',
  '24Q264',
  '15K684',
  '02M047',
  '31R445',
  '28Q620',
  '29Q272',
  '02M260',
  '02M413'],
 'student_42907': ['02M414',
  '15K684',
  '15K667',
  '02M416',
  '06M462',
  '24Q293',
  '24Q299'],
 'student_17593': ['02M416',
  '24Q585',
  '02M418',
  '22K535',
  '03M479',
  '28Q167',
  '02M260',
  '31R064'],
 'student_59942': ['02M411',
  '03M492',
  '28Q686',
  '30Q501',
  '04M495',
  '02M376',
  '27Q480',
  '30Q301',
  '15K497'],
 'student_40809': ['03M479', '02M418', '02M439', '02M400', '02M519'],
 'student_45941': ['22K405',
  '15K684',
  '01M539',
  '15K519',
  '01M450',
  '28Q620',
  '02M376'],
 'student_13448': ['02M418',
  '24Q293',
  '02M605',
  '20K485',
  '03M541',
  '02M260',
  '02M438',
  '01M696',
  '22K405'],
 'student_58671': ['28Q328',
  '29Q265',
  '13K670',
  '03M479',
  '01M696',
  '31R450',
  '02M376'],
 'student_36895': ['10X141', '02M630', '25Q425', '02M376', '02M414', '24Q585'],
 'student_25015': ['02M413',
  '04M555',
  '09X241',
  '20K485',
  '15K656',
  '21K540',
  '22K425',
  '19K618',
  '03M541'],
 'student_51753': ['03M541',
  '05M362',
  '02M489',
  '02M411',
  '01M696',
  '02M298',
  '27Q650']}

In [17]:
# saving student rankings
np.save(cwd+"/Data/student_rankings.npy", student_rankings)
print("saved at", "/Data/student_rankings.npy")

saved at /Data/student_rankings.npy

## Task 2: Aggregate School Codes & Generate Random Rankings

### Subtask 2.1: Export

#### INTENDED OUTPUT
student_rankings = {student_id : [school_ids_ranked]}

school_rankings = {school ids : [student_ids_ranked]}

[student_rankings, school_rankings]