# Main Document to Load and Traverse Data

> Expected Data: school admissions preferences, number of students admitted per attribute category, etc.

In [36]:
import pandas as pd
import numpy as np
import os

from tqdm import tqdm

cwd = os.getcwd()
testing = True  # ******

## Schema:
Nutrition Label:
- School Label:
  - Name
  - ID
  - AP courses offered
  - Location
  - Subject Specialization
  - Accomodations
  - Admission Preferences
   - gpa cutoff
   - zone
   - subject specification


- Student Label:
  - Name
  - Location
  - Zone
  - School ID
  - Subject preference
  - AP course preferences

## Task 1: Load student demographics and preferences and join

In [37]:
student_df = pd.read_csv(cwd + "/Data/student_info_with_demographics.csv")
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,0,0,0,0,30Q127,2.000000,3.125000
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,0,0,0,0,27Q137,2.153846,2.750000
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,0,0,0,0,24Q061,2.846154,1.753425
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,1,0,0,0,02M114,4.275862,4.181818
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,1,0,0,0,02M312,4.017241,3.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,0,0,0,0,01M450,2.000000,1.972603
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,0,1,0,0,01M184,3.000000,3.125000
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,0,0,0,0,01M539,2.615385,4.030303
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,0,1,0,0,01M188,3.083333,2.000000
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,0,0,0,0,01M839,2.692308,2.312500

In [38]:
ranking_df = pd.read_csv(cwd + "/Data/student_prefs.csv")
ranking_df

           Student_Id  School  Rank    Rating
0       student_68963  02M411     0  1.000000
1       student_68963  02M376     1  0.500000
2       student_68963  02M316     2  0.333333
3       student_68963  02M438     3  0.250000
4       student_68963  01M448     4  0.200000
...               ...     ...   ...       ...
492363  student_36332  02M414     2  0.333333
492364  student_36332  20K490     3  0.250000
492365  student_36332  18K637     4  0.200000
492366  student_36332  28Q686     5  0.166667
492367  student_36332  24Q585     6  0.142857

[492368 rows x 4 columns]

In [40]:
student_ids = list(ranking_df["Student_Id"].unique())  # get student ids
if testing:  # subset of data for testing
    student_ids = student_ids[:100]

student_rankings = {}
for sid in tqdm(student_ids):  # use database filtering and sorting to get individual student's ranks
    temp = ranking_df[ranking_df["Student_Id"]==sid]
    temp.sort_values("Rank", inplace=True, ascending=True)
    student_rankings[sid] = list(temp["School"])

print("Example Student Ranking\n", student_rankings[np.random.choice(school_ids)])

  0%|                                                        | 0/100 [00:00<?, ?it/s]/var/folders/mv/k0krwyts3z5cfn3y2tltw0sc0000gn/T/ipykernel_19089/3686136278.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.sort_values("Rank", inplace=True, ascending=True)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:02<00:00, 33.91it/s]

{'student_68963': ['02M411',
  '02M376',
  '02M316',
  '02M438',
  '01M448',
  '02M298',
  '03M402'],
 'student_32259': ['01M696',
  '02M412',
  '02M416',
  '02M411',
  '02M294',
  '01M448',
  '01M292',
  '02M298'],
 'student_57833': ['25Q281',
  '02M411',
  '02M543',
  '02M418',
  '02M298',
  '02M438',
  '01M696',
  '02M422',
  '05M362'],
 'student_30857': ['02M543',
  '02M551',
  '02M414',
  '02M439',
  '04M435',
  '02M288',
  '01M539',
  '01M450',
  '03M541',
  '02M294'],
 'student_22462': ['02M605',
  '02M400',
  '03M541',
  '02M418',
  '02M294',
  '02M615',
  '02M439'],
 'student_21897': ['05M362',
  '02M615',
  '01M448',
  '02M414',
  '01M539',
  '02M376',
  '01M696',
  '02M600'],
 'student_31089': ['32K168', '03M479', '01M539', '02M407', '02M139', '02M298'],
 'student_63688': ['01M450',
  '02M615',
  '01M448',
  '02M418',
  '02M605',
  '02M414',
  '02M416',
  '02M545',
  '27Q309',
  '02M282'],
 'student_17797': ['02M308', '01M539', '01M292', '15K684', '02M413', '07X625'],
 'student_52488': ['30Q580',
  '02M439',
  '02M545',
  '01M448',
  '02M418',
  '02M580',
  '02M305',
  '24Q560'],
 'student_61161': ['02M418',
  '27Q309',
  '01M450',
  '01M448',
  '13K605',
  '02M534',
  '02M135',
  '01M696',
  '21K690'],
 'student_66654': ['06M540',
  '02M534',
  '02M298',
  '02M413',
  '02M376',
  '02M407',
  '01M450',
  '02M489',
  '02M135'],
 'student_32415': ['02M392',
  '02M298',
  '02M534',
  '02M439',
  '02M294',
  '02M411',
  '01M515',
  '06M346'],
 'student_63062': ['02M534',
  '04M555',
  '27Q260',
  '02M294',
  '01M539',
  '02M439',
  '02M615',
  '04M435',
  '02M298'],
 'student_3391': ['02M308',
  '03M541',
  '03M479',
  '02M412',
  '02M600',
  '02M374',
  '02M630',
  '01M448',
  '02M418'],
 'student_47663': ['02M298',
  '02M439',
  '02M546',
  '02M543',
  '22K555',
  '02M294',
  '02M418',
  '01M292',
  '01M539',
  '01M696',
  '02M411'],
 'student_525': ['04M610', '10X439', '02M411', '01M539', '02M294', '05M369'],
 'student_49899': ['24Q299',
  '02M615',
  '20K445',
  '02M294',
  '01M450',
  '02M298',
  '02M411',
  '02M439'],
 'student_58911': ['02M419', '02M400', '02M374', '02M543', '02M294', '01M448'],
 'student_54954': ['02M399',
  '02M412',
  '02M422',
  '02M413',
  '02M407',
  '01M450',
  '02M282'],
 'student_28177': ['02M533',
  '02M407',
  '02M260',
  '02M418',
  '02M282',
  '02M412',
  '02M615',
  '13K439'],
 'student_33046': ['01M696', '01M448', '02M439', '02M411', '32K556', '13K527'],
 'student_45928': ['01M450',
  '02M294',
  '02M392',
  '13K350',
  '02M543',
  '01M539',
  '02M305',
  '02M416'],
 'student_11209': ['02M298', '02M546', '02M439', '02M412', '02M047'],
 'student_16775': ['02M413',
  '02M416',
  '02M411',
  '15K684',
  '02M489',
  '25Q525',
  '02M543',
  '02M260',
  '01M292'],
 'student_37100': ['02M412',
  '02M294',
  '01M458',
  '02M416',
  '02M420',
  '01M696',
  '02M411',
  '02M439',
  '02M630',
  '02M543'],
 'student_26311': ['02M425',
  '01M450',
  '02M439',
  '02M407',
  '01M696',
  '24Q299',
  '01M292',
  '02M418',
  '02M305',
  '32K552'],
 'student_47284': ['02M416',
  '02M260',
  '02M413',
  '02M543',
  '02M489',
  '02M439',
  '02M414',
  '03M479',
  '02M534',
  '24Q264'],
 'student_6930': ['02M533',
  '02M376',
  '02M425',
  '11X508',
  '02M393',
  '01M292',
  '02M282'],
 'student_6382': ['02M260',
  '02M280',
  '01M292',
  '02M411',
  '02M414',
  '02M294',
  '02M298',
  '09X403',
  '01M539',
  '04M555',
  '02M546'],
 'student_38733': ['02M534',
  '02M392',
  '02M411',
  '01M515',
  '01M292',
  '02M605',
  '02M260',
  '01M450',
  '19K615'],
 'student_51176': ['02M545',
  '02M543',
  '02M438',
  '02M407',
  '03M492',
  '05M499',
  '02M305',
  '02M376',
  '02M418'],
 'student_1560': ['06M468', '24Q530', '03M541', '02M412', '01M539', '01M292'],
 'student_8242': ['01M448',
  '30Q501',
  '02M418',
  '02M260',
  '02M489',
  '02M545',
  '03M479',
  '02M425'],
 'student_33422': ['01M450',
  '03M479',
  '02M543',
  '02M489',
  '15K684',
  '02M419',
  '02M392',
  '02M411',
  '02M533',
  '01M292'],
 'student_18732': ['01M448',
  '04M435',
  '01M539',
  '02M298',
  '04M555',
  '02M615',
  '10X565',
  '05M362',
  '02M288',
  '11X299',
  '02M407'],
 'student_30238': ['02M439',
  '04M435',
  '01M292',
  '02M413',
  '02M260',
  '14K478',
  '02M298'],
 'student_2749': ['14K477', '02M419', '10X438', '02M545', '02M418', '02M308'],
 'student_11550': ['01M450',
  '02M416',
  '03M479',
  '23K493',
  '24Q610',
  '02M411',
  '02M047',
  '02M280',
  '02M418',
  '09X525'],
 'student_63350': ['15K656',
  '02M600',
  '02M282',
  '02M413',
  '02M586',
  '01M292',
  '02M308',
  '02M399'],
 'student_11076': ['02M425',
  '02M489',
  '13K595',
  '01M292',
  '01M450',
  '05M362',
  '01M539',
  '02M376',
  '01M448',
  '02M413'],
 'student_35343': ['02M139',
  '19K409',
  '02M412',
  '01M539',
  '02M413',
  '01M450',
  '02M298',
  '02M422',
  '02M520'],
 'student_2858': ['13K674',
  '02M422',
  '02M489',
  '02M376',
  '02M414',
  '02M294',
  '17K751',
  '02M416',
  '02M560'],
 'student_25125': ['02M298',
  '02M411',
  '02M418',
  '01M448',
  '03M479',
  '02M534',
  '03M415',
  '02M551',
  '02M416'],
 'student_4181': ['02M294',
  '02M407',
  '01M450',
  '07X600',
  '02M414',
  '02M412',
  '03M541',
  '02M376',
  '02M439',
  '01M696'],
 'student_60711': ['02M605',
  '02M260',
  '04M610',
  '02M411',
  '02M294',
  '02M432',
  '12X242',
  '02M615',
  '03M417'],
 'student_8419': ['02M413',
  '02M294',
  '01M292',
  '02M543',
  '07X473',
  '09X413',
  '16K455',
  '01M539'],
 'student_39553': ['02M418',
  '01M458',
  '06M348',
  '13K594',
  '30Q575',
  '01M539',
  '02M615',
  '02M437'],
 'student_33068': ['02M545',
  '01M292',
  '02M392',
  '01M539',
  '07X600',
  '02M393',
  '02M294',
  '23K493'],
 'student_52540': ['22K535',
  '02M260',
  '02M419',
  '02M416',
  '14K454',
  '03M479',
  '02M294',
  '01M539'],
 'student_46218': ['04M555',
  '02M534',
  '01M539',
  '02M416',
  '01M696',
  '32K403',
  '02M408',
  '02M418',
  '01M448',
  '02M394',
  '02M376'],
 'student_21657': ['02M630',
  '04M495',
  '01M448',
  '02M520',
  '01M292',
  '01M696',
  '01M539'],
 'student_59316': ['02M605',
  '13K670',
  '02M280',
  '02M418',
  '02M294',
  '01M448',
  '02M534',
  '02M374',
  '03M479'],
 'student_57258': ['02M543',
  '02M534',
  '15K684',
  '02M545',
  '01M458',
  '01M450',
  '02M420',
  '02M546',
  '02M425'],
 'student_14481': ['02M282',
  '02M418',
  '02M615',
  '02M298',
  '02M411',
  '02M534',
  '02M374'],
 'student_51818': ['02M422',
  '02M411',
  '02M412',
  '02M520',
  '01M292',
  '02M414',
  '02M420',
  '02M260',
  '02M280',
  '02M419'],
 'student_7251': ['02M543',
  '02M392',
  '02M400',
  '02M542',
  '01M696',
  '01M448',
  '02M298',
  '02M294',
  '02M420',
  '01M539'],
 'student_8083': ['02M260',
  '02M533',
  '02M543',
  '02M411',
  '02M418',
  '02M308',
  '02M414',
  '02M407'],
 'student_56082': ['02M407',
  '02M418',
  '02M543',
  '02M298',
  '16K688',
  '02M420',
  '02M438',
  '02M294'],
 'student_383': ['02M393',
  '02M545',
  '02M305',
  '02M414',
  '02M298',
  '02M546',
  '03M492',
  '01M448',
  '02M392',
  '02M419',
  '02M413'],
 'student_56592': ['02M411',
  '01M448',
  '13K595',
  '02M288',
  '02M376',
  '02M534',
  '13K419',
  '02M543',
  '01M696',
  '21K620',
  '02M545'],
 'student_54004': ['02M260',
  '01M292',
  '02M412',
  '02M416',
  '01M450',
  '02M545',
  '03M479',
  '04M555',
  '02M294',
  '02M374',
  '30Q501'],
 'student_21813': ['02M260',
  '01M448',
  '02M413',
  '02M615',
  '02M294',
  '02M407',
  '06M540',
  '02M422'],
 'student_10269': ['02M408',
  '03M415',
  '02M600',
  '02M260',
  '02M294',
  '05M362',
  '02M413',
  '01M515'],
 'student_45124': ['01M450',
  '02M420',
  '02M545',
  '13K674',
  '01M696',
  '02M294',
  '13K483',
  '02M260',
  '02M392'],
 'student_17299': ['01M696',
  '01M539',
  '17K751',
  '02M294',
  '29Q498',
  '02M605',
  '03M479',
  '02M298'],
 'student_2835': ['01M539',
  '19K615',
  '02M392',
  '04M435',
  '02M376',
  '02M420',
  '27Q650',
  '01M448',
  '02M534',
  '02M280'],
 'student_27971': ['08X561',
  '02M546',
  '01M450',
  '01M539',
  '02M282',
  '02M605',
  '02M414',
  '02M416',
  '04M555'],
 'student_26190': ['03M541',
  '01M450',
  '19K660',
  '05M362',
  '02M407',
  '02M412',
  '02M551',
  '02M580'],
 'student_23944': ['02M630',
  '02M534',
  '01M539',
  '01M696',
  '18K629',
  '02M416',
  '01M448'],
 'student_8017': ['13K605',
  '13K963',
  '02M411',
  '02M376',
  '02M294',
  '02M439',
  '17K539'],
 'student_47272': ['02M298',
  '02M414',
  '02M374',
  '01M448',
  '02M376',
  '02M600',
  '02M545',
  '02M416',
  '02M139'],
 'student_54391': ['02M615',
  '02M489',
  '02M298',
  '01M448',
  '01M450',
  '02M533',
  '02M411'],
 'student_59638': ['02M439',
  '02M294',
  '02M376',
  '21K540',
  '02M615',
  '01M448',
  '02M280',
  '02M546',
  '02M545'],
 'student_67953': ['02M416',
  '01M696',
  '02M615',
  '02M294',
  '02M413',
  '03M541',
  '02M298',
  '02M546',
  '02M545'],
 'student_37786': ['01M450',
  '02M416',
  '02M135',
  '01M696',
  '02M545',
  '02M411',
  '01M515',
  '02M600'],
 'student_9202': ['02M374',
  '28Q690',
  '02M407',
  '02M413',
  '08X312',
  '05M362',
  '02M400',
  '02M418',
  '02M294'],
 'student_67289': ['14K558',
  '02M439',
  '05M362',
  '02M520',
  '01M696',
  '02M298',
  '02M630',
  '15K429',
  '01M539',
  '02M500'],
 'student_63305': ['02M407',
  '01M450',
  '01M292',
  '02M294',
  '02M282',
  '02M308',
  '02M534',
  '02M300',
  '02M439'],
 'student_66008': ['02M407',
  '01M539',
  '24Q264',
  '02M533',
  '02M422',
  '02M298',
  '02M294'],
 'student_41929': ['02M439',
  '02M534',
  '27Q650',
  '02M374',
  '22K405',
  '02M392',
  '02M308',
  '04M555',
  '24Q299',
  '02M400',
  '04M435',
  '01M450'],
 'student_60964': ['01M539',
  '02M600',
  '01M292',
  '02M411',
  '02M414',
  '02M544',
  '02M374',
  '02M432',
  '02M412',
  '01M696',
  '02M519'],
 'student_27806': ['01M292',
  '28Q310',
  '02M439',
  '02M420',
  '14K488',
  '02M305',
  '01M450',
  '02M294'],
 'student_12469': ['02M416',
  '11X455',
  '02M411',
  '02M294',
  '02M305',
  '01M448',
  '01M515'],
 'student_26036': ['02M294', '02M412', '02M520', '02M394', '01M292', '02M418'],
 'student_39830': ['01M450',
  '02M418',
  '01M292',
  '02M392',
  '02M439',
  '02M298',
  '02M411',
  '25Q525',
  '02M546',
  '02M135',
  '02M519',
  '02M376'],
 'student_21226': ['02M294',
  '02M411',
  '01M448',
  '02M413',
  '03M479',
  '22K535',
  '24Q299',
  '02M422',
  '01M292',
  '02M416'],
 'student_18662': ['02M047',
  '01M539',
  '01M292',
  '02M400',
  '15K656',
  '02M418',
  '02M439',
  '16K455',
  '04M555',
  '02M308'],
 'student_1143': ['02M439',
  '03M403',
  '01M450',
  '02M411',
  '02M294',
  '02M416',
  '02M414'],
 'student_10194': ['01M448',
  '02M308',
  '02M294',
  '01M539',
  '02M615',
  '02M419',
  '02M411'],
 'student_37571': ['01M292', '02M507', '02M294', '02M534', '03M415', '02M308'],
 'student_25011': ['02M298',
  '02M393',
  '02M546',
  '02M376',
  '02M308',
  '02M489',
  '01M450',
  '02M507',
  '02M407'],
 'student_27599': ['01M292',
  '04M435',
  '02M580',
  '02M545',
  '17K382',
  '01M450',
  '01M448',
  '02M439',
  '01M539',
  '02M305',
  '13K963'],
 'student_44980': ['02M412',
  '02M418',
  '02M399',
  '02M439',
  '04M555',
  '02M413',
  '02M560',
  '03M479'],
 'student_63496': ['01M450',
  '01M292',
  '01M539',
  '02M420',
  '29Q243',
  '04M555',
  '02M407'],
 'student_41643': ['02M533',
  '01M450',
  '02M439',
  '01M448',
  '13K605',
  '02M422',
  '02M418',
  '02M411',
  '30Q450'],
 'student_57816': ['02M414',
  '02M260',
  '01M450',
  '02M376',
  '02M551',
  '17K543',
  '02M439',
  '18K633',
  '02M543',
  '02M529'],
 'student_15686': ['05M362',
  '02M600',
  '02M407',
  '02M411',
  '02M605',
  '01M450',
  '02M533',
  '02M416',
  '02M432',
  '30Q501',
  '02M615'],
 'student_13290': ['02M413',
  '02M418',
  '02M412',
  '02M282',
  '01M696',
  '02M376',
  '02M411'],
 'student_28645': ['17K590',
  '01M292',
  '02M376',
  '30Q301',
  '01M515',
  '02M414',
  '02M400',
  '02M288']}

In [21]:
# saving student rankings
np.save(cwd+"/Data/student_rankings.npy", student_rankings)
print("saved at", "/Data/student_rankings.npy")

saved at /Data/student_rankings.npy

## Task 2: Aggregate School Codes & Generate Random Rankings

In [43]:
school_ids = list(ranking_df["School"].unique())
school_rankings = {}
for sid in tqdm(school_ids):
    np.random.shuffle(student_ids)  # randomize id's
    school_rankings[sid] = student_ids
    
print("Example School Ranking\n", school_rankings[np.random.choice(school_ids)])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 437/437 [00:00<00:00, 286392.32it/s]

In [34]:
# saving school rankings
np.save(cwd+"/Data/school_rankings.npy", school_rankings)
print("saved at", "/Data/school_rankings.npy")

saved at /Data/school_rankings.npy

### Subtask 2.1: Export

#### INTENDED OUTPUT
student_rankings = {student_id : [school_ids_ranked]}

school_rankings = {school ids : [student_ids_ranked]}

[student_rankings, school_rankings]