# Main Document to Load and Traverse Data

> Expected Data: school admissions preferences, number of students admitted per attribute category, etc.

In [58]:
import pandas as pd
import numpy as np
import os
import random

from tqdm import tqdm

cwd = os.getcwd()
testing = False  # ******
# TODO: make 1shot code simulation(#schools, #students) = resulting selection (Note: seats, student # choices, scores, etc. can be assumed)

In [256]:
# HELPERS:
def add_fake_gpa(students):
    """ adds a gpa attribute based on the students ELA and Math scores """
    students["fake_gpa"] = students["Math_score"] + students["ELA_score"]
    max_score = max(students["fake_gpa"])
    students["fake_gpa"] = students["fake_gpa"].apply(lambda score: round(4*score/max_score, 2))  # gpa-normalized
    return students

def set_place(x, dist):
    """ returns a number representing which placement of a number x based on a distribution dist """
    for i, num in enumerate(dist):
        if x >= num:
            return i+1
    return len(dist)+1

def get_distributions():
    """ returns quantile distribution of gpa based on real data 
    used for seat/screen calculations """
    student_df = pd.read_csv(cwd+"/Data/student_info_with_demographics.csv")
    student_df = add_fake_gpa(student_df)
    
    edopt_dist = [student_df["fake_gpa"].quantile(i/3) for i in range(2, 0, -1)]
    screen_dist = [student_df["fake_gpa"].quantile(i/5) for i in range(4, 0, -1)]
    return edopt_dist, screen_dist
# edopt_dist, screen_dist = get_distributions()

# distributions according to: https://www.schools.nyc.gov/enrollment/enroll-grade-by-grade/high-school
screen_dist = [94, 89.66, 82.75, 76.33]  # https://www.schools.nyc.gov/enrollment/enroll-grade-by-grade/high-school/screened-admissions
edopt_dist = [88.25, 77.5]  #https://www.schools.nyc.gov/enrollment/enroll-grade-by-grade/high-school/educational-option-ed-opt-admissions-method

print("EDOPT DISTRIBUTION: ", edopt_dist)
print("SCREEN DISTRIBUTION: ", screen_dist)


# USED FOR SEAT/SCREEN CALCULATIONS
seated = lambda x: set_place(x, edopt_dist) 
screened = lambda x: set_place(x, screen_dist)

EDOPT DISTRIBUTION:  [88.25, 77.5]
SCREEN DISTRIBUTION:  [94, 89.66, 82.75, 76.33]

In [274]:
# MAIN STRUCTURES
MAX_NUM_SCHOOLS = 12

class Student:
    def __init__(self, seed):
        # necessary info
        self.id = seed
        random.seed(seed) # set the seed
        self.lottery = uuid.UUID(int=random.getrandbits(128), version=4).hex  # note: can do duplicate check if necessary
        
        seed_nums = random.sample(range(1, 3), 2)  # necessary to get 2 independent numbers
        # integer representation of how likely a student is to select a given school
        self.selection_policy = seed_nums[0]
        # integer representation of how highly a student is to rank a school, given they've already selected it
        self.ranking_policy = seed_nums[1]
        
        self.num_schools = MAX_NUM_SCHOOLS
        self.schools = []  # to be updated later based on self.selection_policy
        
        self.test_score = self.get_rand_score(seed)
        # pre-calculate buckets for school decisions
        self.seat = seated(self.test_score)
        self.screen = screened(self.test_score)
        
        # extra / potential additions
        self.name = ""
        self.district = 0
        self.borough = None
        self.location = None
        
    def get_rand_score(self, new_seed):
        # TODO: sub real life score distribution
        random.seed(new_seed)
        num = round(np.random.normal(68, 8.89, 1)[0], 2)
        if num < 0:
            num = 0
        elif num > 100:
            num = 100
        return num
    
    def update_choice(self, schools):
        """ used to update a student object with custom school information """
        self.schools = schools
        self.num_schools = len(schools)
        
    def info(self, simple=False):
        """ shows basic information generated from seed/id """
        basics = "ID: " + self.id + "\nLottery: " + self.lottery
        scores = "\nScores: " + str([self.test_score, self.seat, self.screen])
        policies = "\nPolicies: " + str([self.selection_policy, self.ranking_policy])
        if simple:
            return basics
        else:
            return basics + scores + policies
        
    def __str__(self):
        return self.id
#     sorted(students, key=lambda x: int(x.lottery, 16))
        
    
class School:
    def __init__(self, seed):
        # necessary info
        self.dbn = seed  # ID
        random.seed(seed) # set the seed
        
        self.policy = random.randint(1,3)
        self.capacity = self.get_rand_cap(seed)
        # TODO add distribution of capacity and popularity (use classification on quintile for applications)
        
        # NOTE: popularity is how likely a school is to be on a student's list
        self.popularity = self.capacity * random.randint(1,5)
        # NOTE: likeability is how high on a students list a given school should appear
        self.likeability = self.capacity * random.randint(1,MAX_NUM_SCHOOLS)  # how high       
        
        # extra info
        self.name = ""
        self.district = 0
        self.borough = None
        self.location = None
        
    def get_rand_cap(self, new_seed):
        # TODO: sub real life score distribution
        random.seed(new_seed)
        num = round(np.random.normal(162, 75, 1)[0])
        if num < 1:
            num = 1
        return num    
        
    def info(self, simple=False):
        basics = "ID: " + self.dbn + "\nPolicy: " + str(self.policy)
        additional = "\nCap/Pop/Rigor: " + str([self.capacity, self.popularity, self.likeability])
        return basics + additional if not simple else ""
        
    def __str__(self):
        return self.dbn
    
""" AUTHOR'S NOTE:
These structures are meant to loosely mirror the relationship between schools and students
in the highschool matching process...
- for reproducability sake, both objects require a seed.__str__() that will determine its random state
"""

# just making sure everything is generated properly
tester = Student("student test")
print(tester.info())
print()
tester2 = School("school test")
print(tester2.info())

ID: student test
Lottery: 062cb39d480343f5a4ed5796933fca98
Scores: [43.37, 3, 5]
Policies: [1, 2]

ID: school test
Policy: 2
Cap/Pop/Rigor: [115, 345, 1150]

In [246]:
# GENERATORS (with random seeds)
# 2022 default = 71250 students ranked alongside 437 schools
LARGE_NUM = 9999999999  # used to set upperbound for sampling range

def generate_students(seed, size=71250):
    random.seed(seed)
    return [Student("Student #"+str(i)) for i in random.sample(range(LARGE_NUM*size), size)]

def generate_schools(seed, size=437):
    random.seed(seed)
    return [School("School #"+str(i)) for i in random.sample(range(LARGE_NUM*size), size)]
  
""" AUTHOR'S NOTE:
In a previous iteration the random sample was based on size to ensure reproducibilty...
For some reason the random state carried over from previous iterations resulting in non-random matches.
- to mitigate this the functions are now exclusively random
- if you'd like to reproduce a previous generation, simply generate students/schools with the same id/dbn
"""

#test
test_students = generate_students(1, 2)
for stud in test_students:
    print(stud.info())
    print()
test_schools = generate_schools(1, 2)
for schol in test_schools:
    print(schol.info())
    print()

ID: Student #17756959221
Lottery: 682842c1ebdd4701b299f9b6226ff07b
Scores: [1.6053425037449514, 3, 5]
Policies: [2, 1]

ID: Student #3280387012
Lottery: 8153c77963fe44eb942e0c6fce9b322d
Scores: [4.63175021935049, 1, 1]
Policies: [3, 2]

ID: School #17756959221
Policy: 3
Cap/Pop/Rigor: [161, 6, 22]

ID: School #3280387012
Policy: 2
Cap/Pop/Rigor: [201, 4, 12]

In [292]:
# SIMULATIONS

def simulate_student_choices(seed, students, schools):
    """ takes in a dict of students and schools and generates choices based on student.selection_policy
     ordered by student.ranking_policy 
     Note: also outputs a school_to_student helper dict such that {school.dbn: set(school_id)}
     """
    choices = dict([[str(stud), []] for stud in students])
    
    # generate lists of schools for each strategy & shuffle
    full_random = list(schools.keys())
    popularity_weights = [schools[schol].popularity for schol in full_random]
    
    school_to_student = dict([[str(schol), set()] for schol in schools])  # helper for school choices
    for stud in tqdm(students.values()):
        # for each student, choose schools depending on strategy based on seed
        ranks = []
        random.seed(seed)
        if stud.selection_policy == 1:  # fully randomized
            ranks = random.choices(population=full_random, k=stud.num_schools)
        else:  # popularity weighted randomized
            ranks = random.choices(population=full_random, weights=popularity_weights, k=stud.num_schools)
        
        # order based on student policy
        if stud.ranking_policy != 1:  # rank by 
            ranks.sort(key=lambda schol: schools[schol].likeability, reverse=True)
            # NOTE: ties are handled by how the list was previously sorted which is depended on the seed
        choices[str(stud)] = ranks
        
        for schol_id in ranks:  # add ranks to helper
            school_to_student[schol_id].add(str(stud))
    return choices, school_to_student


def simulate_school_choices(school_to_student, students, schools):
    """ takes in a dict of students and schools as well as the student's rankings and generatings 
        the school's choices based on them
    """
    choices = {}
    # sort students by school policy
    for schol_id, student_ids in tqdm(school_to_student.items()):
        ranks = []
        if schools[schol_id].policy == 1:
            ranks = sorted(student_ids, key=lambda stud_id: students[stud_id].lottery)
        elif schools[schol_id].policy == 2:
            ranks = sorted(student_ids, key=lambda stud_id: (students[stud_id].seat, students[stud_id].lottery))
        else:
            ranks = sorted(student_ids, key=lambda stud_id: (students[stud_id].screen, students[stud_id].lottery))
        choices[schol_id] = ranks
    return choices

In [293]:
# OVERALL FUNCTIONS**

# UI SIDE
def get_real_schools():
    """ gives a dict of school names to school information to ensure students are selecting the right schools """
    ...

def oneshot_with_input(new_student):
    """ runs a simulation based on NYC data with a single student as input 
    input is top n<12 schools & lottery number users choose from dbn character
    preload dbn
    have multiselect dropdown of schools
    """
    students.append(new_student)  # **
    
    # TODO: find more efficient way of injecting student into existing simulation state
    student_preference_profile = simulate_student_choices(students, schools)
    school_preference_profile = simulate_school_choices(student_preference_profile, schools)
    return student_preference_profile, school_preference_profile


# MAIN
def oneshot(seed, verbose=False):
    """ runs a basic simulation that generates two dictionaries representing the highschool matching process:
        - student_rankings = {student_id : [school_ids_ranked]}
        - school_rankings = {school ids : [student_ids_ranked]} """
    random.seed(seed)
    student_seed, school_seed = random.sample(range(LARGE_NUM), 2)
    if verbose: print("Base Seed", seed, "created student and school seeds seeds", student_seed, school_seed)
    
    students = dict([[str(stud), stud] for stud in generate_students(student_seed)])
    schools = dict([[str(schol), schol] for schol in generate_schools(school_seed)])
    if verbose: 
        total_seats = sum([schol.capacity for schol in schools.values()])
        print("Generated", len(schools), "schools and", len(students), "students and", total_seats, "seats...")
    
    if verbose: print("Student choices simulating...")
    student_preference_profile, school_to_student = simulate_student_choices(seed, students, schools)
    
    if verbose: print("School choices simulating...")
    # Note: no random seed since lottery# informs the tiebreaks
    school_preference_profile = simulate_school_choices(school_to_student, students, schools)
    
    return student_preference_profile, school_preference_profile, students, schools

In [301]:
%%time

# TESTING
student_prefs, school_prefs, students, schools = oneshot(1, True)

Base Seed 1 created student and school seeds seeds 9167024629 3280387012
Generated 437 schools and 71250 students and 69938 seats...
Student choices simulating...

100%|███████████████████████████████████████| 71250/71250 [00:02<00:00, 31611.00it/s]

School choices simulating...

100%|█████████████████████████████████████████████| 437/437 [00:01<00:00, 234.67it/s]

completed!
CPU times: user 8.5 s, sys: 271 ms, total: 8.77 s
Wall time: 8.72 s

In [306]:
# Sanity Check:
zero_count = 0
avg_count = 0
for schol, studs in school_prefs.items():
    if len(studs) == 0:
        zero_count += 1
    avg_count += len(studs)
avg_count /= len(schools)
print("Simulation resulted in", zero_count, "of", len(schools), "schools with no student applications")
print("On average, each school ranked", round(avg_count), "of", len(students), "students")

Simulation resulted in 413 of 437 schools with no student applications
On average, each school ranked 1957 of 71250 students

In [300]:
# checking that students with policy[1]=2 have schools ranked from largest to smallest rigor
s = list(student_prefs.keys())[0]
print(students[s].info())
for sch in student_prefs[s]:
    print(schools[sch].info())
    print()

ID: Student #609348707388531
Lottery: 8b0c6057f77b4978b78dfc40c663e2e9
Scores: [62.26, 3, 5]
Policies: [1, 2]
ID: School #4033661134016
Policy: 3
Cap/Pop/Rigor: [185, 925, 1850]

ID: School #3021798171909
Policy: 1
Cap/Pop/Rigor: [194, 388, 1746]

ID: School #3130485872228
Policy: 1
Cap/Pop/Rigor: [203, 406, 1624]

ID: School #509880723684
Policy: 3
Cap/Pop/Rigor: [129, 645, 1032]

ID: School #806370367294
Policy: 3
Cap/Pop/Rigor: [93, 465, 744]

ID: School #576564391831
Policy: 2
Cap/Pop/Rigor: [117, 468, 702]

ID: School #2942073107771
Policy: 1
Cap/Pop/Rigor: [224, 224, 672]

ID: School #1624543957664
Policy: 1
Cap/Pop/Rigor: [182, 364, 546]

ID: School #4010251220665
Policy: 2
Cap/Pop/Rigor: [33, 99, 363]

ID: School #1491107108483
Policy: 2
Cap/Pop/Rigor: [332, 996, 332]

ID: School #922861592776
Policy: 1
Cap/Pop/Rigor: [101, 202, 202]

ID: School #3971475351612
Policy: 1
Cap/Pop/Rigor: [137, 137, 137]

#  LEGACY CODE



# Task 1) Load student demographics and preferences

In [59]:
student_df = pd.read_csv(cwd+"/Data/student_info_with_demographics.csv")
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,0,0,0,0,30Q127,2.000000,3.125000
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,0,0,0,0,27Q137,2.153846,2.750000
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,0,0,0,0,24Q061,2.846154,1.753425
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,1,0,0,0,02M114,4.275862,4.181818
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,1,0,0,0,02M312,4.017241,3.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,0,0,0,0,01M450,2.000000,1.972603
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,0,1,0,0,01M184,3.000000,3.125000
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,0,0,0,0,01M539,2.615385,4.030303
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,0,1,0,0,01M188,3.083333,2.000000
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,0,0,0,0,01M839,2.692308,2.312500

In [85]:
student_df.describe()

,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,Math_score,ELA_score,fake_gpa,seat,screen
count,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000
mean,0.218709,0.753839,0.490021,0.136730,0.713503,0.225937,0.426765,0.011775,0.147804,0.173389,0.011663,0.002667,2.648380,2.976645,2.509633,1.994063,2.995116
std,0.413373,0.430777,0.499904,0.343564,0.188389,0.418201,0.494611,0.107875,0.354908,0.378586,0.107365,0.051571,0.902626,0.869921,0.638444,0.815440,1.411225
min,0.000000,0.000000,0.000000,0.000000,0.136000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.054795,1.200000,1.000000,1.000000
25%,0.000000,1.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.893333,2.125000,1.970000,1.000000,2.000000
50%,0.000000,1.000000,0.000000,0.000000,0.755000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.384615,3.000000,2.470000,2.000000,3.000000
75%,0.000000,1.000000,1.000000,0.000000,0.869000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.416667,3.875000,2.970000,3.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,0.950000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.500000,4.500000,4.000000,3.000000,5.000000

In [60]:
ranking_df = pd.read_csv(cwd + "/Data/student_prefs.csv")
ranking_df

           Student_Id  School  Rank    Rating
0       student_68963  02M411     0  1.000000
1       student_68963  02M376     1  0.500000
2       student_68963  02M316     2  0.333333
3       student_68963  02M438     3  0.250000
4       student_68963  01M448     4  0.200000
...               ...     ...   ...       ...
492363  student_36332  02M414     2  0.333333
492364  student_36332  20K490     3  0.250000
492365  student_36332  18K637     4  0.200000
492366  student_36332  28Q686     5  0.166667
492367  student_36332  24Q585     6  0.142857

[492368 rows x 4 columns]

# Task 2) Generate & Export Student Preferences
> Note: decide how many schools each student should rank and which preference

### Case 1: full random with no weight
### *Case 2: full random, ordered by popularity buckets
### Case 3: popularity_bucket-weighted randomness
### *Case 4: popularity_bucket-weighted randomness, ordered by popularity buckets

In [61]:
student_ids = list(ranking_df["Student_Id"].unique())  # get student ids
if testing:  # subset of data for testing
    student_ids = student_ids[:200]

# GET NUMBER OF SCHOOLS RANKED PER STUDENTS
full_list = True  # **students rank 12 schools, ELSE students rank schools based on real-world distribution
student_school_counts = {}  # student_id: #schools to choose
max_num_schools = 12  # maximum number of rankings a student can have
if full_list:
    student_school_counts = dict([[sid, max_num_schools] for sid in student_ids])
else:
    student_school_counts = dict([[sid, 0] for sid in student_ids])
    for i, row in tqdm(ranking_df.iterrows()):  # for each ranking, add 1 to student
        assert row["Student_Id"] in student_school_counts, row["Student_Id"]
        student_school_counts[row["Student_Id"]] += 1

# show descriptive stats (sanity check)
pd.DataFrame(student_school_counts.values()).describe()

             0
count  71250.0
mean      12.0
std        0.0
min       12.0
25%       12.0
50%       12.0
75%       12.0
max       12.0

In [62]:
school_ids = list(ranking_df["School"].unique())

# MAKING STUDENT_RANKINGS STRUCTURE
unknown_val = "nan"  # placeholder for no rankings
student_rankings = dict([ [sid, [unknown_val for i in range(max_num_schools)]] for sid in student_ids])  # initializing dict

for sid in tqdm(student_rankings.keys()):
    # CASE 1: RANDOM IMPLEMENTATION
    student_rankings[sid] = np.random.choice(school_ids, size=student_school_counts[sid], replace=False).tolist()
print("\nExample Student Ranking\n", student_rankings[np.random.choice(student_ids)])

100%|███████████████████████████████████████| 71250/71250 [00:06<00:00, 11153.44it/s]

Example Student Ranking
 ['27Q309', '27Q475', '02M416', '29Q272', '05M670', '17K543', '10X442', '14K610', '11X275', '12X251', '06M348', '23K697']

In [63]:
# stats for sanity check
rank_avg = np.mean([len(rank) for sid, rank in student_rankings.items()])
print("Current average number of schools ranked per student:", rank_avg)

Current average number of schools ranked per student: 12.0

In [64]:
# saving student rankings
np.save(cwd+"/Data/Generated/student_rankings_stage1.npy", student_rankings)
print("saved at", "/Data/Generated/student_rankings_stage1.npy")

saved at /Data/Generated/student_rankings_stage1.npy

## Subtask) Deriving School Popularity via True Applicant Rate

In [65]:
""" Data: https://github.com/KoraSHughes/DataLife/blob/main/BackEnd/Data/school_directory.xlsx
DV-EF = applicants
EG-ER = applicant/seats
MN-MY = total seats

TODO parse csv, used tommaso's structure - derive popularity for stage 2
TODO: CHECK ARE THE MOST POPULAR SCHOOLS GETTING THE MOST APPLICATIONS (num applicants) -- sanity check for simulation results
"""
# placeholder data
school_to_pop = dict([[sid, random.randint(1, 5)] for sid in school_ids])
school_to_pop  # Note: dict is more efficient than dataframe for sorting

{'02M411': 5,
 '02M376': 4,
 '02M316': 3,
 '02M438': 5,
 '01M448': 4,
 '02M298': 4,
 '03M402': 3,
 '01M696': 5,
 '02M412': 4,
 '02M416': 1,
 '02M294': 4,
 '01M292': 4,
 '25Q281': 3,
 '02M543': 5,
 '02M418': 4,
 '02M422': 1,
 '05M362': 3,
 '02M551': 3,
 '02M414': 2,
 '02M439': 4,
 '04M435': 5,
 '02M288': 5,
 '01M539': 2,
 '01M450': 2,
 '03M541': 5,
 '02M605': 2,
 '02M400': 3,
 '02M615': 1,
 '02M600': 1,
 '32K168': 5,
 '03M479': 4,
 '02M407': 1,
 '02M139': 2,
 '02M545': 3,
 '27Q309': 5,
 '02M282': 2,
 '02M308': 2,
 '15K684': 3,
 '02M413': 5,
 '07X625': 4,
 '30Q580': 5,
 '02M580': 2,
 '02M305': 3,
 '24Q560': 5,
 '13K605': 4,
 '02M534': 5,
 '02M135': 5,
 '21K690': 2,
 '06M540': 2,
 '02M489': 4,
 '02M392': 3,
 '01M515': 1,
 '06M346': 3,
 '04M555': 1,
 '27Q260': 3,
 '02M374': 1,
 '02M630': 1,
 '02M546': 5,
 '22K555': 2,
 '04M610': 5,
 '10X439': 1,
 '05M369': 4,
 '24Q299': 1,
 '20K445': 1,
 '02M419': 3,
 '02M399': 1,
 '02M533': 3,
 '02M260': 3,
 '13K439': 2,
 '32K556': 4,
 '13K527': 4,
 '13K350': 5,
 '02M047': 3,
 '25Q525': 4,
 '01M458': 4,
 '02M420': 1,
 '02M425': 3,
 '32K552': 3,
 '24Q264': 1,
 '11X508': 1,
 '02M393': 5,
 '02M280': 1,
 '09X403': 3,
 '19K615': 4,
 '03M492': 4,
 '05M499': 4,
 '06M468': 5,
 '24Q530': 1,
 '30Q501': 4,
 '10X565': 3,
 '11X299': 5,
 '14K478': 2,
 '14K477': 4,
 '10X438': 1,
 '23K493': 1,
 '24Q610': 3,
 '09X525': 2,
 '15K656': 5,
 '02M586': 5,
 '13K595': 5,
 '19K409': 2,
 '02M520': 5,
 '13K674': 3,
 '17K751': 4,
 '02M560': 2,
 '03M415': 2,
 '07X600': 4,
 '02M432': 4,
 '12X242': 5,
 '03M417': 1,
 '07X473': 1,
 '09X413': 1,
 '16K455': 5,
 '06M348': 5,
 '13K594': 1,
 '30Q575': 4,
 '02M437': 4,
 '22K535': 5,
 '14K454': 3,
 '32K403': 2,
 '02M408': 2,
 '02M394': 1,
 '04M495': 3,
 '13K670': 3,
 '02M542': 2,
 '16K688': 4,
 '13K419': 4,
 '21K620': 5,
 '13K483': 4,
 '29Q498': 4,
 '27Q650': 2,
 '08X561': 2,
 '19K660': 2,
 '18K629': 1,
 '13K963': 2,
 '17K539': 3,
 '21K540': 3,
 '28Q690': 4,
 '08X312': 1,
 '14K558': 2,
 '15K429': 3,
 '02M500': 4,
 '02M300': 3,
 '22K405': 1,
 '02M544': 5,
 '02M519': 3,
 '28Q310': 4,
 '14K488': 3,
 '11X455': 2,
 '03M403': 2,
 '02M507': 2,
 '17K382': 3,
 '29Q243': 1,
 '30Q450': 1,
 '17K543': 5,
 '18K633': 3,
 '02M529': 5,
 '17K590': 4,
 '30Q301': 3,
 '20K490': 2,
 '23K644': 1,
 '15K960': 2,
 '02M459': 1,
 '10X213': 2,
 '06M211': 4,
 '07X495': 2,
 '06M293': 5,
 '05M157': 1,
 '10X353': 5,
 '06M467': 2,
 '24Q485': 5,
 '05M670': 4,
 '08X349': 1,
 '19K510': 4,
 '28Q620': 5,
 '08X636': 1,
 '03M494': 4,
 '21K468': 5,
 '22K425': 2,
 '06M462': 3,
 '02M449': 2,
 '02M550': 1,
 '11X270': 3,
 '13K553': 4,
 '17K408': 5,
 '10X141': 3,
 '26Q430': 3,
 '28Q284': 1,
 '15K462': 3,
 '07X221': 4,
 '03M859': 1,
 '02M296': 1,
 '19K404': 1,
 '10X374': 1,
 '15K464': 2,
 '07X548': 4,
 '12X267': 4,
 '15K519': 1,
 '07X500': 2,
 '17K548': 1,
 '02M427': 5,
 '20K485': 1,
 '07X223': 3,
 '25Q241': 5,
 '14K561': 5,
 '16K498': 5,
 '31R440': 4,
 '10X243': 4,
 '21K572': 2,
 '13K412': 1,
 '11X290': 3,
 '28Q896': 3,
 '12X511': 2,
 '21K337': 4,
 '02M313': 3,
 '11X544': 2,
 '10X264': 3,
 '28Q440': 5,
 '10X440': 4,
 '19K504': 1,
 '09X412': 4,
 '04M680': 5,
 '14K610': 1,
 '11X545': 2,
 '24Q550': 4,
 '06M463': 1,
 '15K448': 2,
 '07X551': 3,
 '24Q585': 3,
 '09X329': 3,
 '24Q600': 2,
 '03M291': 5,
 '02M655': 3,
 '11X542': 1,
 '10X368': 3,
 '15K497': 4,
 '17K546': 2,
 '18K637': 2,
 '07X522': 4,
 '11X288': 1,
 '17K537': 2,
 '11X275': 1,
 '03M307': 1,
 '03M860': 2,
 '32K554': 2,
 '08X320': 2,
 '05M304': 5,
 '29Q272': 2,
 '12X682': 5,
 '02M531': 3,
 '06M552': 5,
 '15K667': 3,
 '24Q267': 4,
 '31R047': 4,
 '02M303': 1,
 '10X477': 5,
 '07X259': 4,
 '21K525': 3,
 '31R445': 1,
 '29Q313': 5,
 '07X527': 2,
 '10X546': 4,
 '17K122': 5,
 '17K600': 5,
 '03M299': 4,
 '04M372': 1,
 '07X427': 5,
 '17K745': 5,
 '32K549': 2,
 '29Q265': 4,
 '10X342': 5,
 '14K071': 3,
 '08X530': 1,
 '16K765': 3,
 '30Q417': 4,
 '25Q425': 1,
 '21K344': 5,
 '31R450': 3,
 '08X376': 3,
 '19K502': 2,
 '26Q315': 4,
 '13K265': 4,
 '27Q323': 3,
 '10X437': 4,
 '19K507': 2,
 '30Q445': 3,
 '28Q328': 5,
 '11X418': 4,
 '21K348': 4,
 '18K563': 2,
 '10X225': 5,
 '28Q167': 3,
 '12X521': 1,
 '05M148': 2,
 '27Q400': 4,
 '22K611': 5,
 '12X550': 3,
 '09X260': 4,
 '23K697': 4,
 '28Q686': 4,
 '24Q455': 5,
 '14K586': 1,
 '27Q262': 2,
 '14K474': 4,
 '24Q236': 4,
 '24Q296': 5,
 '10X228': 5,
 '10X442': 1,
 '30Q258': 1,
 '19K764': 5,
 '26Q495': 4,
 '25Q670': 5,
 '11X253': 1,
 '19K639': 5,
 '11X249': 1,
 '09X365': 3,
 '10X237': 4,
 '27Q302': 2,
 '09X231': 3,
 '26Q566': 5,
 '09X568': 3,
 '19K618': 3,
 '17K547': 4,
 '10X549': 4,
 '09X327': 4,
 '24Q520': 4,
 '08X367': 4,
 '12X684': 2,
 '18K567': 4,
 '28Q505': 5,
 '09X324': 4,
 '30Q502': 5,
 '08X293': 4,
 '10X434': 5,
 '10X268': 5,
 '08X432': 1,
 '19K659': 2,
 '19K583': 4,
 '20K505': 4,
 '09X517': 1,
 '07X670': 2,
 '09X297': 4,
 '06M423': 1,
 '09X505': 4,
 '11X513': 4,
 '12X251': 3,
 '21K559': 2,
 '08X282': 2,
 '31R455': 4,
 '10X284': 2,
 '17K528': 2,
 '17K524': 2,
 '08X269': 3,
 '09X404': 5,
 '30Q286': 2,
 '08X537': 4,
 '29Q492': 1,
 '08X405': 2,
 '07X334': 1,
 '09X227': 4,
 '09X250': 5,
 '12X478': 5,
 '09X564': 3,
 '09X252': 2,
 '11X514': 2,
 '10X351': 2,
 '10X433': 4,
 '09X543': 3,
 '29Q327': 1,
 '25Q252': 5,
 '25Q460': 3,
 '25Q285': 2,
 '12X388': 2,
 '09X263': 5,
 '12X271': 3,
 '26Q415': 3,
 '24Q293': 5,
 '09X241': 4,
 '12X248': 4,
 '10X524': 4,
 '12X479': 2,
 '32K545': 3,
 '23K514': 1,
 '08X348': 1,
 '08X452': 3,
 '28Q680': 1,
 '19K683': 1,
 '11X509': 3,
 '25Q263': 1,
 '18K642': 1,
 '26Q435': 1,
 '19K422': 2,
 '13K616': 1,
 '27Q480': 5,
 '29Q326': 2,
 '11X265': 1,
 '31R460': 5,
 '27Q351': 5,
 '09X350': 3,
 '08X558': 3,
 '20K609': 3,
 '14K685': 1,
 '12X446': 2,
 '18K617': 4,
 '21K410': 5,
 '25Q240': 5,
 '19K953': 4,
 '27Q475': 5,
 '18K569': 2,
 '29Q283': 4,
 '17K531': 4,
 '27Q308': 5,
 '15K463': 4,
 '29Q248': 5,
 '27Q334': 3,
 '27Q314': 5,
 '18K566': 1,
 '29Q259': 3,
 '14K614': 1,
 '30Q555': 3,
 '28Q350': 2,
 '31R064': 4,
 '18K576': 2,
 '17K646': 3,
 '31R028': 1,
 '28Q325': 2,
 '15K592': 1,
 '15K423': 2,
 '31R080': 1,
 '23K647': 2,
 '31R600': 5,
 '27Q324': 4,
 '22K630': 2,
 '18K635': 2,
 '25Q792': 4,
 '21K728': 5,
 '25Q540': 1}

In [66]:
# save generated popularity
translation = [[sid, pop] for sid, pop in school_to_pop.items()]
np.save(cwd+"/Data/Generated/school_demographics.npy", pd.DataFrame(translation, columns=["Name", "Popularity"]))
print("saved at", "/Data/Generated/school_demographics.npy")

saved at /Data/Generated/school_demographics.npy

In [67]:
# add popularity-ordering to ranking
s2_student_rankings = {}
for sid, ranks in tqdm(student_rankings.items()):
    new_ranks = sorted(ranks, key=lambda x: school_to_pop[x], reverse=True)  # sort by dict vals
    s2_student_rankings[sid] = new_ranks  # append new rank
s2_student_rankings[np.random.choice(student_ids)]

100%|██████████████████████████████████████| 71250/71250 [00:00<00:00, 151916.78it/s]

['17K543',
 '18K567',
 '23K697',
 '03M492',
 '10X524',
 '17K539',
 '06M462',
 '11X509',
 '02M533',
 '02M308',
 '03M859',
 '07X334']

In [68]:
# saving student rankings
np.save(cwd+"/Data/Generated/student_rankings_stage2.npy", s2_student_rankings)
print("saved at", "/Data/Generated/student_rankings_stage2.npy")

saved at /Data/Generated/student_rankings_stage2.npy

In [69]:
# add popularity weighted choice
s3_student_rankings = {}
weighted_schools = []
for school, prio in tqdm(school_to_pop.items()):  # generate school list weighted by popularity
    for i in range(prio**2):
        weighted_schools.append(school)
print("Note: number of schools is", len(weighted_schools), "which should be <", len(school_to_pop), "* 5")
        
for sid, ranks in tqdm(student_rankings.items()):  # choose from weighted list
    new_ranks = np.random.choice(weighted_schools, size=student_school_counts[sid], replace=False).tolist()
    s3_student_rankings[sid] = new_ranks
    
s3_student_rankings[np.random.choice(student_ids)]

100%|██████████████████████████████████████████| 437/437 [00:00<00:00, 385957.22it/s]

Note: number of schools is 4913 which should be < 437 * 5

100%|█████████████████████████████████████████| 71250/71250 [01:19<00:00, 896.52it/s]

['07X548',
 '18K617',
 '27Q324',
 '05M304',
 '08X282',
 '14K477',
 '11X513',
 '11X299',
 '19K409',
 '15K463',
 '11X514',
 '13K439']

In [70]:
# saving student rankings
np.save(cwd+"/Data/Generated/student_rankings_stage3.npy", s3_student_rankings)
print("saved at", "/Data/Generated/student_rankings_stage3.npy")

saved at /Data/Generated/student_rankings_stage3.npy

In [71]:
# add popularity weighted choice AND popularity-ordering to ranking
s4_student_rankings = {}
for sid, ranks in tqdm(s3_student_rankings.items()):
    new_ranks = sorted(ranks, key=lambda x: school_to_pop[x], reverse=True)  # sort by dict vals
    s4_student_rankings[sid] = new_ranks  # append new rank
    
s4_student_rankings[np.random.choice(student_ids)]

100%|██████████████████████████████████████| 71250/71250 [00:00<00:00, 188950.53it/s]

['27Q314',
 '17K408',
 '16K498',
 '02M534',
 '27Q309',
 '31R460',
 '09X327',
 '10X437',
 '27Q400',
 '13K419',
 '12X251',
 '02M308']

In [72]:
# saving student rankings
np.save(cwd+"/Data/Generated/student_rankings_stage4.npy", s4_student_rankings)
print("saved at", "/Data/Generated/student_rankings_stage4.npy")

saved at /Data/Generated/student_rankings_stage4.npy

In [73]:
import uuid
# adding lotterly number
lnums = [uuid.uuid4().hex for i in range(len(student_df))]
student_df["Lottery"] = lnums
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,White,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score,Lottery
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,0,0,0,0,30Q127,2.000000,3.125000,4c4ef64abb8044588343460f6eeab8db
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,0,0,0,0,27Q137,2.153846,2.750000,57835b4ba9a44375be70514c28639cee
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,0,0,0,0,24Q061,2.846154,1.753425,359e444aef7344ccb33f871a762360e8
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,1,0,0,0,02M114,4.275862,4.181818,536468d353324cb08da75344b7f0d1e8
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,1,0,0,0,02M312,4.017241,3.125000,c195ec0c32e4452ca62a122327f7bfa6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,0,0,0,0,01M450,2.000000,1.972603,1eeb5307efa84090ba4f2a9eb2dcbb4b
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,0,1,0,0,01M184,3.000000,3.125000,5c810ec67fbe444cb1e9629751879cbc
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,0,0,0,0,01M539,2.615385,4.030303,fd4f0ebe302b47459d04352e35e92b49
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,0,1,0,0,01M188,3.083333,2.000000,9fa7ba94beda4bcfbfafbc2cad29db52
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,0,0,0,0,01M839,2.692308,2.312500,acea35e3c3ef43b1a1d46351c100a5c0

In [74]:
# adding gpa, seat, and screen attributes

def add_fake_gpa(students):
    """ adds a gpa attribute based on the students ELA and Math scores """
    students["fake_gpa"] = students["Math_score"] + students["ELA_score"]
    max_score = max(students["fake_gpa"])
    students["fake_gpa"] = students["fake_gpa"].apply(lambda score: round(4*score/max_score, 2))  # gpa-normalized
    return students
    
def add_edopt(students):
    """ adds gpa percentile in 3rds for ed opt schools """
    lower = students["fake_gpa"].quantile(1/3)
    upper = students["fake_gpa"].quantile(2/3)
    seated = lambda x: 1 if x >= upper else (2 if x >= lower else 3)
    students["seat"] = students["fake_gpa"].apply(seated)
    return students

def add_screen(students):
    """ adds gpa percentile in 5ths for screen schools """
    lower1 = students["fake_gpa"].quantile(1/5)
    lower2 = students["fake_gpa"].quantile(2/5)
    upper1 = students["fake_gpa"].quantile(3/5)
    upper2 = students["fake_gpa"].quantile(4/5)
    def screened(gpa):
        if gpa >= upper2:
            return 1
        elif gpa >= upper1:
            return 2
        elif gpa >= lower2:
            return 3
        elif gpa >= lower1:
            return 4
        else:
            return 5
        
    students["screen"] = students["fake_gpa"].apply(lambda x: screened(x))
    return students

student_df = add_fake_gpa(student_df)
student_df = add_edopt(student_df)
student_df = add_screen(student_df)
student_df

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,...,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score,Lottery,fake_gpa,seat,screen
0,student_36332,Residential District Unknown,0,0,1,0,0.723,0,1,0,...,0,0,0,30Q127,2.000000,3.125000,4c4ef64abb8044588343460f6eeab8db,2.29,2,3
1,student_36144,Residential District Unknown,0,1,0,0,0.684,0,1,0,...,0,0,0,27Q137,2.153846,2.750000,57835b4ba9a44375be70514c28639cee,2.19,2,4
2,student_37038,Residential District Unknown,1,1,1,0,0.881,0,1,0,...,0,0,0,24Q061,2.846154,1.753425,359e444aef7344ccb33f871a762360e8,2.05,3,4
3,student_614,Residential District Unknown,0,0,1,0,0.191,0,0,0,...,0,0,0,02M114,4.275862,4.181818,536468d353324cb08da75344b7f0d1e8,3.77,1,1
4,student_21981,Residential District Unknown,1,0,1,0,0.304,0,0,0,...,0,0,0,02M312,4.017241,3.125000,c195ec0c32e4452ca62a122327f7bfa6,3.19,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71245,student_22462,Residential District 01,0,0,1,0,0.650,0,1,0,...,0,0,0,01M450,2.000000,1.972603,1eeb5307efa84090ba4f2a9eb2dcbb4b,1.77,3,5
71246,student_30857,Residential District 01,1,0,1,0,0.621,0,0,0,...,1,0,0,01M184,3.000000,3.125000,5c810ec67fbe444cb1e9629751879cbc,2.73,2,2
71247,student_57833,Residential District 01,0,0,0,0,0.256,1,0,0,...,0,0,0,01M539,2.615385,4.030303,fd4f0ebe302b47459d04352e35e92b49,2.96,1,2
71248,student_32259,Residential District 01,0,1,0,0,0.950,0,0,0,...,1,0,0,01M188,3.083333,2.000000,9fa7ba94beda4bcfbfafbc2cad29db52,2.27,2,3
71249,student_68963,Residential District 01,1,0,1,0,0.630,0,1,0,...,0,0,0,01M839,2.692308,2.312500,acea35e3c3ef43b1a1d46351c100a5c0,2.23,2,4

In [75]:
# saving school demographics with updated attributes
np.save(cwd+"/Data/Generated/student_demographics.npy", student_df)
print("saved at", "/Data/Generated/student_demographics.npy")

saved at /Data/Generated/student_demographics.npy

## Step 3.5) Add profiles for school rankings

In [76]:
schools_criterion = ["District", "Lottery", "ELA_Score", "Math_Score", "Poverty_Index", "fake_gpa", "seat", "screen"]

# BASIC SCHOOL PROFILES (intuition)
# Note: these weights are in powers of 10 so they are closer to discrete ordering than pure ratios
district_school = [3, 1, 0, 0, 0, 0, 0, 0]
balanced_school = [3, 1, 2, 2, 1, 0, 0, 0]
stem_school =     [3, 1, 2, 5, 1, 0, 0, 0]  # Note: most schools weight ELA and math equivalently (less realistic)
lottery_school =  [1, 5, 0, 0, 0, 0, 0, 0]
elite_school =    [0, 1, 4, 4, 0, 0, 0, 0]
basic_school_profiles = [district_school, balanced_school, stem_school, lottery_school, elite_school]

def basic_rand_pref():
    """ generate a random school preference profile """
    return random.choice(basic_school_profiles)

In [77]:
"""
Open schools: exlcusively lottery
Ed Opt schools: 1/3rd seat for high/medium/low gpa (known) + lottery for inter-group tiebreaker
Screen schools: 5 group distribution of gpa but highest to lowest (known) + lottery tie breaker
Audition/Assessment: some sort of examination with ranking (school provides a score) + lottery tiebreaker

Note: most have set-asides & zoning regulations
Note: careful of skew (students with high seats disproportionally apply more to more popular schools)
# Open, Ed Opt, Screened, Audtion/Assessment
"""
#  ["District", "Lottery", "ELA_Score", "Math_Score", "Poverty_Index", "gpa", "seat", "screen"]
open_school = ["Lottery"]  # [0, 1, 0, 0, 0, 0, 0, 0]
edopt_school = ["seat", "Lottery"]  # [0, 1, 0, 0, 0, 0, 2, 0]
screen_school = ["screen", "Lottery"]  # [0, 0, 0, 0, 0, 0, 0, 1]
# audition_school = [0, 1, 0, 0, 0, 0, 0]
complex_school_profiles = [open_school, edopt_school, screen_school]

student_df.sort_values(edopt_school, ascending=True)

,Student_Id,Residential_District,swd,poverty,sex,ell,ENI,Black,Hispanic,Multi-Racial,...,Asian,Native American,Missing Race/Ethnicity Data,school,Math_score,ELA_score,Lottery,fake_gpa,seat,screen
32359,student_45916,Residential District 21,0,1,1,0,0.403,0,0,0,...,1,0,0,21K239,3.916667,3.125000,0004a77607bc4e3482b0fe742bd2a1b7,3.14,1,1
16358,student_36399,Residential District 27,0,0,1,0,0.823,0,1,0,...,0,0,0,27Q282,4.379310,2.437500,00089b79bdc048f9bb0208a647356301,3.04,1,2
69101,student_34762,Residential District 02,0,0,0,0,0.265,0,0,1,...,0,0,0,02M167,4.172414,4.121212,000accfcd3e4424486a67561d74c41c5,3.70,1,1
4502,student_15957,Residential District 31,0,1,0,0,0.515,0,0,0,...,1,0,0,31R072,3.333333,3.437500,001a96ce38234040a179dd93e1a57e7c,3.02,1,2
3423,student_34553,Residential District 31,0,1,0,0,0.450,0,0,0,...,0,0,0,31R048,4.068966,4.287879,001b393e98e24bcca34c7d9b22a5a41f,3.73,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59982,student_16145,Residential District 08,1,0,1,0,0.912,0,1,0,...,0,0,0,08X376,1.933333,1.986301,fff745d3ceab4f1d9ced363f33275c01,1.75,3,5
41853,student_67379,Residential District 17,1,1,0,0,0.834,1,0,0,...,0,0,0,17K246,1.413333,1.904110,fff7d4e0921b41a288846c54d8779b7e,1.48,3,5
37918,student_64944,Residential District 20,0,1,1,1,0.792,0,0,0,...,1,0,0,20K227,1.666667,1.821918,fff96412729044f786afa02c3e4885e2,1.56,3,5
59660,student_44321,Residential District 09,0,1,0,1,0.947,0,1,0,...,0,0,0,09X313,1.653333,1.849315,fffc9ef37fff4dd6b03266b40e221006,1.56,3,5
64622,student_52179,Residential District 06,0,1,0,0,0.905,0,1,0,...,0,0,0,06M143,2.000000,2.062500,fffcaa214cb443b6ab370f231ee2f933,1.81,3,5

In [78]:
%%time
students_open = student_df.sort_values(open_school, ascending=True)["Student_Id"].tolist()
students_edopt = student_df.sort_values(edopt_school, ascending=True)["Student_Id"].tolist()
students_screen = student_df.sort_values(screen_school, ascending=True)["Student_Id"].tolist()
student_ordering_choices = [students_open, students_edopt, students_screen]

def gen_school_choices(ids, choice_weights):
    assert len(choice_weights) == len(student_ordering_choices), "choices should follow schema:"+str(len(student_ordering_choices))
    weighted_choices = ""  # creates a string representing indicies of the choices
    for i, weight in enumerate(choice_weights):
        weighted_choices += str(i)*weight
            
    school_choices = {}  # generate student choices
    for sid in ids:
        choice_type = int(weighted_choices[np.random.randint(len(weighted_choices))])
        school_choices[sid] = student_ordering_choices[choice_type]  # add corresponding choice
    return school_choices

CPU times: user 235 ms, sys: 15.2 ms, total: 251 ms
Wall time: 257 ms

In [ ]:
# TODO: ensure order by discrete --> think SQL 'order_by' (next attribute is only looked at for tie-breakers)
# prioirity students always take presidence
# Note: recall you can affect capacity of school
# TODO: add student preferences proportional to school policy
# TODO: add distance from school's popularity
# TODO: take a better look at student preference generation
# TODO: add school district
# get_district = dict([[sid, random.choice(student_df["Residential_District"].unique())] for sid in school_ids])
# get_district[random.choice(school_ids)]

# Next steps: make one-shot function & seperate python file

## Task 3: Generate School Rankings from profiles
### Subgoal) Create randomized school profiles
#### Case 1: all open school (lottery only)
#### Case 2: add screen and or ed opt policies
#### Case 3: add policy-weighted randomness for variation between schools

In [79]:
%%time
# generate profile
all_open = gen_school_choices(school_ids, [1,0,0])
# saving school rankings
np.save(cwd+"/Data/Generated/school_rankings_open.npy", all_open)
print("saved at", "/Data/Generated/school_rankings_open.npy")

saved at /Data/Generated/school_rankings_open.npy
CPU times: user 10.1 ms, sys: 2.21 ms, total: 12.4 ms
Wall time: 11.5 ms

In [80]:
%%time
# generate profile
all_edopt = gen_school_choices(school_ids, [0,1,0])
# saving school rankings
np.save(cwd+"/Data/Generated/school_rankings_edopt.npy", all_edopt)
print("saved at", "/Data/Generated/school_rankings_edopt.npy")

saved at /Data/Generated/school_rankings_edopt.npy
CPU times: user 10 ms, sys: 1.8 ms, total: 11.8 ms
Wall time: 10.4 ms

In [81]:
%%time
# generate profile
all_screen = gen_school_choices(school_ids, [0,0,1])
# saving school rankings
np.save(cwd+"/Data/Generated/school_rankings_screen.npy", all_screen)
print("saved at", "/Data/Generated/school_rankings_screen.npy")

saved at /Data/Generated/school_rankings_screen.npy
CPU times: user 9.86 ms, sys: 1.73 ms, total: 11.6 ms
Wall time: 10.5 ms

In [82]:
%%time
# generate profile
all_combo = gen_school_choices(school_ids, [1,1,1])
# saving school rankings
np.save(cwd+"/Data/Generated/school_rankings_combo.npy", all_combo)
print("saved at", "/Data/Generated/school_rankings_combo.npy")

# NOTE: EVERYTHING <400ms

saved at /Data/Generated/school_rankings_combo.npy
CPU times: user 17.8 ms, sys: 2.74 ms, total: 20.5 ms
Wall time: 19.4 ms

In [83]:
print(len(student_df), "students ranked alongside", len(all_combo), "schools")

71250 students ranked alongside 437 schools

In [ ]:
def insert_student(student_data, df):
    """ insert a student into a ranked category """
    # TODO: find a more efficient way of doing this
    return ...

In [ ]:
# TODO collinearity matrix between ranking and student attributes like test scores/lottery number
# TODO: add gale-shapley priority => 'set asside'

In [ ]:
# true applicant rate
# stage 0: capacity-weighted popularity
# making the mean lottery number values into medians
# making y-scale of graphs of stage 1&3 and 2&4
# revise intro slide description (not true applicant "rate", not changing matching algorithm, "ranking" --> "matching")

""" LONGTERM NOTES:
students in the same district will have similar patterns -- higher preference for ranking schools in their own districts or close to accesisble subway lines
clustering based on applicants per district
"""